Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-merge-conflict
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-added-large-files
    args: [--maxkb=5000]
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/PyCQA/doc8
  rev: v1.1.1
  hooks:
  - id: doc8
    name: doc8 - Documentation linter
    args: ['--max-line-length=100', '--quiet']
    files: \.(py|rst|md)$
    exclude: |
      (?x)^(
        docs/build/|
        docs/_build/|
        \.claude/templates/
      )$

- repo: local
  hooks:
  - id: check-conventional-commits
    name: Check Conventional Commits
    entry: scripts/check_conventional_commits.sh
    language: system
    stages: [commit-msg]
  - id: solarwindpy-physics
    name: SolarWindPy Physics Validation
    entry: .claude/hooks/pre-commit-tests.sh
    language: system
    files: \.py$
    pass_filenames: false
  - id: import-test
    name: Import Testing
    entry: python -c
    args: ["import solarwindpy; print('‚úì Import successful')"]
    language: system
    files: ^solarwindpy/.*\.py$
    pass_filenames: false
  - id: attribution-reminder
    name: Attribution Guidelines Reminder
    entry: bash -c
    args: ['echo "üìù Remember: External code needs attribution - see .claude/docs/ATTRIBUTION.md"; exit 0']
    language: system
    stages: [commit]
    pass_filenames: false
    always_run: true
    verbose: true

docs(core): Plasma, Ion and Spacecraft examples load the example plasma
  solarwindpy/core/ions.py
  solarwindpy/core/plasma.py
  solarwindpy/core/spacecraft.py
Due: solarwindpy-physics, import-test

docs(dispatch): add p0-simplify unit (author decision)
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs(core): Plasma example shows construction from a DataFrame
  solarwindpy/core/plasma.py
Due: solarwindpy-physics, import-test

test: one helper module holds the tolerance rule; migrate core tests
  tests/core/test_abundances.py
  tests/core/test_ions.py
  tests/core/test_plasma.py
  tests/core/test_quantities.py
  tests/core/test_units_constants.py
  tests/tolerances.py
Due: solarwindpy-physics

test(fitfunctions): take every tolerance from tests/tolerances.py
  tests/fitfunctions/test_composite.py
  tests/fitfunctions/test_core.py
  tests/fitfunctions/test_exponentials.py
  tests/fitfunctions/test_gaussians.py
  tests/fitfunctions/test_heaviside.py
  tests/fitfunctions/test_hinge.py
  tests/fitfunctions/test_lines.py
  tests/fitfunctions/test_p0_contract.py
  tests/fitfunctions/test_power_laws.py
  tests/fitfunctions/test_trend_fits.py
  tests/fitfunctions/test_trend_fits_advanced.py
  tests/test_source_fitfunctions_defects.py
Due: solarwindpy-physics

test(plotting): take every tolerance from tests/tolerances.py
  tests/plotting/test_agg_plot.py
  tests/plotting/test_hist1d.py
  tests/plotting/test_hist2d_pandas_compat.py
  tests/plotting/test_hist2d_plotting.py
  tests/plotting/test_histograms.py
  tests/plotting/test_nan_gaussian_filter.py
  tests/plotting/test_spiral.py
  tests/plotting/test_tools.py
Due: solarwindpy-physics

test: take tools, instabilities and solar_activity tolerances from the helpers
  tests/instabilities/test_beta_ani.py
  tests/instabilities/test_verscharen2016.py
  tests/solar_activity/icme/test_icmecat.py
  tests/solar_activity/sunspot_number/test_sidc.py
  tests/solar_activity/test_base.py
  tests/solar_activity/test_plots.py
  tests/tools/test_tools.py
Due: solarwindpy-physics

test: fail on a hand-written tolerance; TEST_PATTERNS points to the helpers
  .claude/docs/TEST_PATTERNS.md
  tests/test_tolerance_rule.py
Due: solarwindpy-physics

docs(tests): example CSVs pin the docstring examples' printed values
  .claude/docs/TEST_PATTERNS.md
Due: none

test(core): cover estimate_electrons(inplace=True); add a missing ON FAILURE
  tests/core/test_plasma.py
Due: solarwindpy-physics

docs(dispatch): continue the test-quality fix program in a new session
  docs/dispatches/dispatch-continue-test-quality-fixes-2026-10-05.md
Due: none

docs(tdd): append empirical findings to dispatch-orchestrate-test-quality-fixes-2026-10-02 dispatch
  docs/dispatches/dispatch-orchestrate-test-quality-fixes-2026-10-02.md
Due: none

docs(tdd): purge completed dispatch-orchestrate-test-quality-fixes-2026-10-02 unit (git retains the bytes)
  docs/dispatches/dispatch-orchestrate-test-quality-fixes-2026-10-02.md
Due: none

docs(dispatch): bring the continuation dispatch up to date after PR #493
  docs/dispatches/dispatch-continue-test-quality-fixes-2026-10-05.md
Due: none

fix(core): scalar thermal speed is NaN where par and per are both missing
  solarwindpy/core/plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

test(tolerances): fail on approx calls that take pytest's default tolerance
  tests/plotting/test_hist2d_plotting.py
  tests/test_tolerance_rule.py
Due: solarwindpy-physics

refactor(fitfunctions): hinge p0 returns its reference start; fallback_p0 private
  CHANGELOG.md
  CLAUDE.md
  solarwindpy/fitfunctions/CONTRIBUTING.md
  solarwindpy/fitfunctions/composite.py
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/hinge.py
  tests/fitfunctions/test_p0_contract.py
Due: solarwindpy-physics, import-test

docs(dispatch): record author decisions from the #494 to #496 reviews
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(core): apply the two-level missing-data rule across Plasma
  docs/source/index.rst
  docs/source/missing_data.rst
  docs/source/missing_data.rst.spent-when
  solarwindpy/core/plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

refactor(fitfunctions): hinge classes share one Hinge parent
  CHANGELOG.md
  solarwindpy/fitfunctions/CONTRIBUTING.md
  solarwindpy/fitfunctions/hinge.py
  tests/fitfunctions/test_p0_contract.py
Due: solarwindpy-physics, import-test

docs(dispatch): record the species-validity rule and second-review decisions
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(core): mask a species where any moment is missing; pair and density totals
  docs/source/missing_data.rst
  solarwindpy/core/plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): keep Parameters in every fit function's class help
  CHANGELOG.md
  docs/source/conf.py
  solarwindpy/fitfunctions/CONTRIBUTING.md
  solarwindpy/fitfunctions/composite.py
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/exponentials.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/heaviside.py
  solarwindpy/fitfunctions/hinge.py
  solarwindpy/fitfunctions/lines.py
  solarwindpy/fitfunctions/power_laws.py
  tests/fitfunctions/test_docstring_inheritance.py
  tests/fitfunctions/test_metaclass_compatibility.py
Due: solarwindpy-physics, import-test

docs(dispatch): record the third #496 review decisions
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

refactor(fitfunctions): one inherited Hinge.p0; estimates in class Notes
  CHANGELOG.md
  solarwindpy/fitfunctions/CONTRIBUTING.md
  solarwindpy/fitfunctions/hinge.py
  tests/fitfunctions/test_p0_contract.py
Due: solarwindpy-physics, import-test

feat(plotting)!: remove contour labelling from Hist2D
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_base.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

fix(core): log unequal-index warnings with Logger.warning
  solarwindpy/core/alfvenic_turbulence.py
  tests/core/test_alfvenic_turbulence.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): bound PowerLawOffCenter x0 below the used x
  solarwindpy/fitfunctions/power_laws.py
  tests/fitfunctions/test_power_laws.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): GaussianLn refuses used x <= 0 at construction
  solarwindpy/fitfunctions/gaussians.py
  tests/fitfunctions/test_gaussians.py
  tests/fitfunctions/test_p0_contract.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): hinge estimates check before dividing
  solarwindpy/fitfunctions/hinge.py
  tests/fitfunctions/test_p0_contract.py
Due: solarwindpy-physics, import-test

fix(instabilities): blank table-legend cells for unplotted instabilities
  solarwindpy/instabilities/verscharen2016.py
  tests/instabilities/test_verscharen2016.py
Due: solarwindpy-physics, import-test

docs(dispatch): record the #499 review decisions
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs(dispatch): add the plotting-and-docstring-cleanup unit; park the HingeMax point
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none
