Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-merge-conflict
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-added-large-files
    args: [--maxkb=5000]
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/PyCQA/doc8
  rev: v1.1.1
  hooks:
  - id: doc8
    name: doc8 - Documentation linter
    args: ['--max-line-length=100', '--quiet']
    files: \.(py|rst|md)$
    exclude: |
      (?x)^(
        docs/build/|
        docs/_build/|
        \.claude/templates/
      )$

- repo: local
  hooks:
  - id: check-conventional-commits
    name: Check Conventional Commits
    entry: scripts/check_conventional_commits.sh
    language: system
    stages: [commit-msg]
  - id: solarwindpy-physics
    name: SolarWindPy Physics Validation
    entry: .claude/hooks/pre-commit-tests.sh
    language: system
    files: \.py$
    pass_filenames: false
  - id: import-test
    name: Import Testing
    entry: python -c
    args: ["import solarwindpy; print('‚úì Import successful')"]
    language: system
    files: ^solarwindpy/.*\.py$
    pass_filenames: false
  - id: attribution-reminder
    name: Attribution Guidelines Reminder
    entry: bash -c
    args: ['echo "üìù Remember: External code needs attribution - see .claude/docs/ATTRIBUTION.md"; exit 0']
    language: system
    stages: [commit]
    pass_filenames: false
    always_run: true
    verbose: true

fix(fitfunctions): restore the weights shape rule for 2-d xobs
  solarwindpy/fitfunctions/core.py
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics, import-test

refactor(fitfunctions): drop the unreachable sigma shape check
  solarwindpy/fitfunctions/core.py
Due: solarwindpy-physics, import-test

test(solar_activity): pin all-NaN SSN bands for a series whose maximum is 0
  tests/solar_activity/sunspot_number/test_sidc.py
Due: solarwindpy-physics

docs(findings): record the mutation re-measurement after the survivor units
  docs/dispatches/findings-test-quality-review-2026-10-02.md
Due: none

docs(findings): link the remaining survivors to issue #507
  docs/dispatches/findings-test-quality-review-2026-10-02.md
Due: none

docs(dispatch): Plasma keeps the input row order
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs(dispatch): add the hist2d-projection-tests and plasma-survivor-tests units
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(plotting): Hist1D stores clip as a bool
  solarwindpy/plotting/hist1d.py
  tests/plotting/test_hist1d.py
Due: solarwindpy-physics, import-test

fix(plotting): project_1d masks y by its bins; empty y-ranges raise
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

docs(dispatch): Plasma warns on out-of-order times, then sorts
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs(dispatch): clip keeps one-sided values
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs(dispatch): duplicate timestamps warn too
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs(dispatch): add the projection-bin-edges unit
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(plotting): keep one-sided clip_data instead of coercing to bool
  solarwindpy/plotting/base.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_base.py
  tests/plotting/test_hist1d.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

docs(dispatch): fold a #508 docstring note into projection-bin-edges
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs(dispatch): record the sorter-E decisions
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(plotting): keep the parent's bin closure in Hist2D.project_1d
  solarwindpy/plotting/agg_plot.py
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_agg_plot.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

docs(plotting): say which ranges_by_x mismatch raises
  solarwindpy/plotting/hist2d.py
Due: solarwindpy-physics, import-test

fix(plotting): validate IntervalIndex bins and keep their edges exact
  solarwindpy/plotting/agg_plot.py
  tests/plotting/test_agg_plot.py
Due: solarwindpy-physics, import-test

fix(core): sort Plasma data by time and raise clear container errors
  solarwindpy/core/plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

test(core): kill Plasma mutation survivors in species and container paths
  tests/core/test_plasma.py
Due: solarwindpy-physics

docs(dispatch): sort spacecraft and aux with the plasma; warn on NaT times
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(core): sort spacecraft and aux data with the plasma and warn on NaT
  solarwindpy/core/plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

docs(dispatch): Plasma rejects NaT timestamps
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(core)!: Plasma rejects NaT timestamps; test the order checks
  solarwindpy/core/plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

docs(dispatch): time checks apply to set_data and the aux and spacecraft setters
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(core): validate Spacecraft data once, so out-of-order data warn once
  solarwindpy/core/spacecraft.py
  tests/core/test_spacecraft.py
Due: solarwindpy-physics, import-test

feat(core)!: Plasma setters apply the construction time-order rules
  solarwindpy/core/plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

docs(dispatch): standalone Spacecraft follows the Plasma time rule
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

feat(core)!: standalone Spacecraft follows the Plasma time rule
  solarwindpy/core/base.py
  solarwindpy/core/plasma.py
  solarwindpy/core/spacecraft.py
  tests/core/test_plasma.py
  tests/core/test_spacecraft.py
Due: solarwindpy-physics, import-test

fix(core)!: set_data refuses new times while frames are attached
  solarwindpy/core/base.py
  solarwindpy/core/plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

docs(findings): record the final mutation re-measurement
  docs/dispatches/findings-test-quality-review-2026-10-02.md
Due: none
