Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-merge-conflict
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-added-large-files
    args: [--maxkb=5000]
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/PyCQA/doc8
  rev: v1.1.1
  hooks:
  - id: doc8
    name: doc8 - Documentation linter
    args: ['--max-line-length=100', '--quiet']
    files: \.(py|rst|md)$
    exclude: |
      (?x)^(
        docs/build/|
        docs/_build/|
        \.claude/templates/
      )$

- repo: local
  hooks:
  - id: check-conventional-commits
    name: Check Conventional Commits
    entry: scripts/check_conventional_commits.sh
    language: system
    stages: [commit-msg]
  - id: solarwindpy-physics
    name: SolarWindPy Physics Validation
    entry: .claude/hooks/pre-commit-tests.sh
    language: system
    files: \.py$
    pass_filenames: false
  - id: import-test
    name: Import Testing
    entry: python -c
    args: ["import solarwindpy; print('‚úì Import successful')"]
    language: system
    files: ^solarwindpy/.*\.py$
    pass_filenames: false
  - id: attribution-reminder
    name: Attribution Guidelines Reminder
    entry: bash -c
    args: ['echo "üìù Remember: External code needs attribution - see .claude/docs/ATTRIBUTION.md"; exit 0']
    language: system
    stages: [commit]
    pass_filenames: false
    always_run: true
    verbose: true

docs(plotting): save example writes into a temporary directory
  solarwindpy/plotting/tools.py
Due: solarwindpy-physics, import-test

docs(tests): replace the significant-digits tolerance with the half-digit rule
  .claude/docs/TEST_PATTERNS.md
Due: none

docs: retire attribution leftovers and the 95% coverage claim
  .claude/README.md
  .claude/WORKFLOW_TEMPLATE.md
  .claude/docs/DEVELOPMENT.md
  .claude/docs/MAINTENANCE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitmessage
Due: none

fix(fitfunctions): rsq is NaN when the data have no spread
  solarwindpy/fitfunctions/core.py
  tests/fitfunctions/test_exponentials.py
  tests/fitfunctions/test_lines.py
Due: solarwindpy-physics, import-test

docs(solar_activity): list the real ICMECAT spacecraft names
  solarwindpy/solar_activity/icme/icmecat.py
  tests/solar_activity/icme/test_icmecat.py
Due: solarwindpy-physics, import-test

test(solar_activity): compare the cached ICMECAT frame to a fresh download
  tests/solar_activity/icme/test_icmecat.py
Due: solarwindpy-physics

docs(dispatch): add p0-contract and tolerance-helpers units
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(fitfunctions): LineXintercept.p0 is None for a zero median slope
  solarwindpy/fitfunctions/lines.py
  tests/fitfunctions/test_lines.py
Due: solarwindpy-physics, import-test

test(solar_activity): name the docstring marker when it goes missing
  tests/solar_activity/icme/test_icmecat.py
Due: solarwindpy-physics

docs(changelog): record this PR's user-facing behaviour changes
  CHANGELOG.md
Due: none

docs(dispatch): add examples-and-logging-cleanup unit
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

feat(examples): add swp.examples.load_plasma for docstring examples
  conftest.py
  solarwindpy/__init__.py
  solarwindpy/core/data/example_epoch.csv
  solarwindpy/core/data/example_plasma.csv
  solarwindpy/core/data/example_spacecraft.csv
  solarwindpy/core/plasma.py
  solarwindpy/examples/__init__.py
  tests/core/test_base.py
  tests/test_examples.py
Due: solarwindpy-physics, import-test

refactor(core)!: remove Plasma plasma-statistics logging
  solarwindpy/core/plasma.py
  tests/test_examples.py
Due: solarwindpy-physics, import-test

docs(changelog): record example loader and logging removal
  CHANGELOG.md
Due: none

docs(api): document solarwindpy.examples; drop its strict xfail
  conftest.py
  docs/source/api_reference.rst
Due: solarwindpy-physics

chore: delete stale .claude/memory/testing-templates.md
  .claude/memory/testing-templates.md
Due: none

docs(examples): format example epochs explicitly; review follow-ups
  solarwindpy/core/plasma.py
  solarwindpy/examples/__init__.py
  tests/test_examples.py
Due: solarwindpy-physics, import-test

docs(examples): clarify auxiliary_data name and species filter
  solarwindpy/examples/__init__.py
Due: solarwindpy-physics, import-test

fix(core): vdf_ratio is NaN where the beam drift has no projection
  CHANGELOG.md
  solarwindpy/core/plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

fix(core): estimate_electrons sets T_e = T_p
  CHANGELOG.md
  solarwindpy/core/plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

fix(core): empty species sums are NaN in heat_flux and Wk
  CHANGELOG.md
  solarwindpy/core/plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

docs(core): name heat_flux as the parallel-parallel heat flux component
  CHANGELOG.md
  solarwindpy/core/plasma.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): p0 returns None when it cannot guess; reject non-finite guesses
  CHANGELOG.md
  solarwindpy/fitfunctions/CONTRIBUTING.md
  solarwindpy/fitfunctions/composite.py
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/exponentials.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/heaviside.py
  solarwindpy/fitfunctions/hinge.py
  solarwindpy/fitfunctions/lines.py
  solarwindpy/fitfunctions/power_laws.py
  tests/fitfunctions/test_core.py
  tests/fitfunctions/test_p0_contract.py
Due: solarwindpy-physics, import-test

docs(dispatch): units build the docs with warnings as errors
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs(core): name the heat_flux frame and the estimate_electrons proton species
  solarwindpy/core/plasma.py
Due: solarwindpy-physics, import-test

docs(dispatch): record zero-width, hinge fallback and GaussianLn decisions
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(fitfunctions): qualify docs refs; guard x0-scan bounds and overflowing moments
  solarwindpy/fitfunctions/composite.py
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/heaviside.py
  solarwindpy/fitfunctions/hinge.py
  tests/fitfunctions/test_p0_contract.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): Gaussian p0 is None for widths the samples cannot resolve
  CHANGELOG.md
  solarwindpy/fitfunctions/composite.py
  solarwindpy/fitfunctions/gaussians.py
  tests/fitfunctions/test_p0_contract.py
  tests/test_source_fitfunctions_defects.py
Due: solarwindpy-physics, import-test

feat(fitfunctions): fallback_p0 hook; hinge fits start from the author's point
  CHANGELOG.md
  solarwindpy/fitfunctions/CONTRIBUTING.md
  solarwindpy/fitfunctions/composite.py
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/hinge.py
  tests/fitfunctions/test_p0_contract.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): GaussianLn.p0 estimates m, s, A in ln x space
  CHANGELOG.md
  solarwindpy/fitfunctions/gaussians.py
  tests/fitfunctions/test_gaussians.py
  tests/fitfunctions/test_p0_contract.py
Due: solarwindpy-physics, import-test

docs(dispatch): add loader-examples unit; fold #490's test gaps into tolerance-helpers
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs(dispatch): record that the heat_flux label stays q
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs(dispatch): add scalar-w-nan unit (author decision)
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none
