Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

solarwindpy-physics:
  name: SolarWindPy Physics Validation
  entry: .claude/hooks/pre-commit-tests.sh
  language: system
  pass_filenames: false

import-test:
  name: Import Testing
  entry: python -c
  args:
  - import solarwindpy; print('‚úì Import successful')
  language: system
  pass_filenames: false

fix(fitfunctions): address PR #499 review
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/hinge.py
  solarwindpy/fitfunctions/power_laws.py
  tests/fitfunctions/test_gaussians.py
  tests/fitfunctions/test_hinge.py
  tests/fitfunctions/test_power_laws.py
Due: solarwindpy-physics, import-test

docs(dispatch): fold the #495 review gaps into the cleanup unit
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(fitfunctions): settle PR #499's remaining review notes
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/hinge.py
  solarwindpy/fitfunctions/power_laws.py
  tests/fitfunctions/test_core.py
  tests/fitfunctions/test_gaussians.py
  tests/fitfunctions/test_power_laws.py
Due: solarwindpy-physics, import-test

docs(dispatch): carry the last #499 review notes into the cleanup unit
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

feat(plotting)!: remove contour labelling from SpiralPlot2D
  solarwindpy/plotting/spiral.py
  tests/plotting/test_base.py
  tests/plotting/test_spiral.py
Due: solarwindpy-physics, import-test

docs(plotting): link Hist2D.plot_edges from plot_contours
  solarwindpy/plotting/hist2d.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): put merged class docstrings in numpydoc order
  solarwindpy/fitfunctions/core.py
  tests/fitfunctions/test_docstring_inheritance.py
Due: solarwindpy-physics, import-test

docs(fitfunctions): give Hinge its own example
  solarwindpy/fitfunctions/hinge.py
  tests/fitfunctions/test_docstring_inheritance.py
Due: solarwindpy-physics, import-test

test: follow aliased approx imports in the bare-approx scanner
  tests/test_tolerance_rule.py
Due: solarwindpy-physics

fix(fitfunctions): report the start a fit used; refuse x0 below its bound
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/power_laws.py
  tests/fitfunctions/test_p0_contract.py
  tests/fitfunctions/test_power_laws.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): space \cdot from \exp in GaussianLn.TeX_function
  solarwindpy/fitfunctions/gaussians.py
  tests/fitfunctions/test_gaussians.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): settle PR #501's review notes
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/power_laws.py
  tests/fitfunctions/test_core.py
  tests/fitfunctions/test_docstring_inheritance.py
  tests/fitfunctions/test_power_laws.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

docs(changelog): record PRs #494, #498, #499 and #501
  CHANGELOG.md
Due: none

docs(changelog): keep Fixed to entries that change computed values
  CHANGELOG.md
Due: none

docs(findings): record the 2026-10-07 mutation re-measurement
  docs/dispatches/findings-test-quality-review-2026-10-02.md
Due: none

docs(findings): correct the survivor subtotal
  docs/dispatches/findings-test-quality-review-2026-10-02.md
Due: none

docs(dispatch): add the two survivor units
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

test(core): kill Plasma save/load and estimate_electrons survivors
  tests/core/test_plasma.py
  tests/core/test_plasma_io.py
Due: solarwindpy-physics

test(fitfunctions): kill the fit-statistics and keyword survivors
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics

test(solar_activity): kill the SIDC processing survivors
  tests/solar_activity/sunspot_number/test_sidc.py
Due: solarwindpy-physics

test(fitfunctions): stop matching scipy's wording for the lm refusal
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics

test(core): settle PR #503's review notes on the plasma I/O tests
  tests/core/test_plasma_io.py
Due: solarwindpy-physics

docs(changelog): say GaussianLn used to fit with p0 None
  CHANGELOG.md
Due: none

docs(dispatch): add the survivor-defect-fixes unit
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

test(fitfunctions): assert the covariance warning by class alone
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics

test(core): build the name/frame messages from SC_NAME and SC_FRAME
  tests/core/test_plasma_io.py
Due: solarwindpy-physics

fix(fitfunctions): fit a covariance-matrix weights as generalised least squares
  solarwindpy/fitfunctions/core.py
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics, import-test

fix(solar_activity): name the missing column when banding an uninterpolated key
  solarwindpy/solar_activity/sunspot_number/sidc.py
  tests/solar_activity/sunspot_number/test_sidc.py
Due: solarwindpy-physics, import-test

fix(solar_activity): build SSN bands from shared edges so pd.cut accepts them
  solarwindpy/solar_activity/sunspot_number/sidc.py
  tests/solar_activity/sunspot_number/test_sidc.py
Due: solarwindpy-physics, import-test

ci: fail fast when the apt mirror is unreachable
  .github/workflows/ci-master.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
Due: none

docs(dispatch): weights stay 1-d; drop covariance support from #505
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

Revert "fix(fitfunctions): fit a covariance-matrix weights as generalised least squares"
  solarwindpy/fitfunctions/core.py
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics, import-test

docs(ci): describe the HDF5 apt step as it now stands
  .github/WORKFLOWS.md
Due: none

fix(fitfunctions): refuse 2-d weights and drop the unreachable covariance path
  solarwindpy/fitfunctions/core.py
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics, import-test

Path conditions:
  solarwindpy-physics: any of: \.py$
  import-test: any of: ^solarwindpy/.*\.py$
