Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-merge-conflict
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-added-large-files
    args: [--maxkb=5000]
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/PyCQA/doc8
  rev: v1.1.1
  hooks:
  - id: doc8
    name: doc8 - Documentation linter
    args: ['--max-line-length=100', '--quiet']
    files: \.(py|rst|md)$
    exclude: |
      (?x)^(
        docs/build/|
        docs/_build/|
        \.claude/templates/
      )$

- repo: local
  hooks:
  - id: check-conventional-commits
    name: Check Conventional Commits
    entry: scripts/check_conventional_commits.sh
    language: system
    stages: [commit-msg]
  - id: solarwindpy-physics
    name: SolarWindPy Physics Validation
    entry: .claude/hooks/pre-commit-tests.sh
    language: system
    files: \.py$
    pass_filenames: false
  - id: import-test
    name: Import Testing
    entry: python -c
    args: ["import solarwindpy; print('‚úì Import successful')"]
    language: system
    files: ^solarwindpy/.*\.py$
    pass_filenames: false
  - id: attribution-reminder
    name: Attribution Guidelines Reminder
    entry: bash -c
    args: ['echo "üìù Remember: External code needs attribution - see .claude/docs/ATTRIBUTION.md"; exit 0']
    language: system
    stages: [commit]
    pass_filenames: false
    always_run: true
    verbose: true

docs(dispatch): move the live Spent-When adoption plan to docs/dispatches
  docs/dispatches/plan-spent-when-adoption-2026-09-16.md
Due: none

ci: skip claude-review on Dependabot runs
  .github/workflows/claude-code-review.yml
Due: none

build(dev): add the test-quality review tools to the dev extra
  pyproject.toml
Due: none

docs(dispatch): run the test-quality tool trial in the solarwindpy env
  docs/dispatches/dispatch-test-quality-review-2026-10-02.md
Due: none

build: move docstring-inheritance to 3.x and switch it on at import
  CHANGELOG.md
  pyproject.toml
  solarwindpy/__init__.py
  solarwindpy/fitfunctions/core.py
  tests/fitfunctions/test_docstring_inheritance.py
  tests/fitfunctions/test_metaclass_compatibility.py
Due: solarwindpy-physics, import-test

docs: point the docstring-inheritance nitpick exception at its 3.x path
  docs/source/conf.py
Due: solarwindpy-physics

docs(review): record test-quality findings and the fix program
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
  docs/dispatches/findings-test-quality-review-2026-10-02.md
Due: none

docs(tdd): append empirical findings to dispatch-test-quality-review-2026-10-02 dispatch
  docs/dispatches/dispatch-test-quality-review-2026-10-02.md
Due: none

docs(tdd): correct the unchecked-physics count in the review findings
  docs/dispatches/dispatch-test-quality-review-2026-10-02.md
Due: none

chore: repoint stale references to retired files
  docs/dispatches/plan-spent-when-adoption-2026-09-16.md
  pyproject.toml
  solarwindpy.yml
Due: none

docs(dispatch): orchestrate-test-quality-fixes 2026-10-02
  docs/dispatches/dispatch-orchestrate-test-quality-fixes-2026-10-02.md
Due: none

docs(dispatch): units commit with plain git commit from the worktree
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(core): swap Vector.latitude and colatitude; add hand-case tests
  CHANGELOG.md
  solarwindpy/core/vector.py
  tests/core/test_quantities.py
Due: solarwindpy-physics, import-test

docs(dispatch): record pilot physics decisions and widen its OWNS
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(core): Tensor.magnitude returns the thermal-speed scalar
  CHANGELOG.md
  solarwindpy/core/tensor.py
  tests/core/test_quantities.py
Due: solarwindpy-physics, import-test

fix(core): Vector.project and cos_theta return NaN on unmatched rows
  CHANGELOG.md
  solarwindpy/core/vector.py
  tests/core/test_quantities.py
Due: solarwindpy-physics, import-test

fix(plotting): label latitude as lambda and colatitude as theta
  CHANGELOG.md
  solarwindpy/plotting/labels/base.py
  tests/plotting/labels/test_labels_base.py
Due: solarwindpy-physics, import-test

docs(dispatch): give plasma-physics-cases the Wk definition and NaN rules
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs: make docstring examples run and assert documented behavior
  solarwindpy/core/abundances.py
  solarwindpy/core/plasma.py
  solarwindpy/fitfunctions/core.py
  solarwindpy/instabilities/beta_ani.py
  solarwindpy/solar_activity/icme/__init__.py
  solarwindpy/solar_activity/icme/icmecat.py
  solarwindpy/tools/__init__.py
Due: solarwindpy-physics, import-test

test(core): hand-worked physics cases for Plasma nuc, cs, Wk, heat_flux, S, electrons
  tests/core/test_plasma.py
Due: solarwindpy-physics

test(icme): serve a local catalog through ICMECAT_URL, assert exact values
  tests/solar_activity/icme/conftest.py
  tests/solar_activity/icme/test_icmecat.py
  tests/solar_activity/icme/test_icmecat_integration.py
  tests/solar_activity/icme/test_icmecat_smoke.py
Due: solarwindpy-physics

test(hooks): keep the six hook-behaviour tests, drop fourteen that check nothing
  tests/test_hook_integration.py
  tests/test_hooks.py
Due: solarwindpy-physics

test(solar_activity): guard test_sidc at the socket layer, not on SIDCLoader
  tests/solar_activity/sunspot_number/test_sidc.py
Due: solarwindpy-physics

test(fitfunctions): assert values in line, exponential, and power-law tests
  tests/fitfunctions/test_exponentials.py
  tests/fitfunctions/test_lines.py
  tests/fitfunctions/test_power_laws.py
Due: solarwindpy-physics

test(plotting): make hist2d tests assert what the plots promise
  tests/plotting/test_hist2d_pandas_compat.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics

test(core): replace existence-only abundance tests with published values
  tests/core/test_abundances.py
Due: solarwindpy-physics

docs(dispatch): add abundances-2021-only unit
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

test(docs): assert README, quickstart and installation examples under Sybil
  .github/workflows/doctest_validation.yml
  README.rst
  conftest.py
  docs/source/installation.rst
  docs/source/tutorial/quickstart.rst
Due: solarwindpy-physics

style(conftest): make the root conftest docstring raw for flake8 D301
  conftest.py
Due: solarwindpy-physics

docs(dispatch): pin the 15 unavailable Asplund 2021 photosphere cells as NaN
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none
