Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

solarwindpy-physics:
  name: SolarWindPy Physics Validation
  entry: .claude/hooks/pre-commit-tests.sh
  language: system
  pass_filenames: false

import-test:
  name: Import Testing
  entry: python -c
  args:
  - import solarwindpy; print('‚úì Import successful')
  language: system
  pass_filenames: false

test(solar_activity): cite plot_on_colorbar by name, not a stale line
  tests/solar_activity/sunspot_number/test_sidc.py
Due: solarwindpy-physics

fix(fitfunctions): return super().make_fit(...) from Gaussian overrides
  solarwindpy/fitfunctions/gaussians.py
  tests/fitfunctions/test_gaussians.py
  tests/fitfunctions/test_trend_fits.py
Due: solarwindpy-physics, import-test

fix(plotting): name the 1-D agg index and select by the joint bin
  solarwindpy/plotting/agg_plot.py
  tests/plotting/test_agg_plot.py
  tests/plotting/test_hist1d.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): raise the converted InsufficientDataError from make_fit
  solarwindpy/fitfunctions/core.py
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics, import-test

fix(instabilities): mask NaN thresholds under pandas 3 and align table legend
  solarwindpy/instabilities/verscharen2016.py
  tests/instabilities/test_verscharen2016.py
Due: solarwindpy-physics, import-test

fix(plotting): bin integer nbins by numpy.histogram's convention
  solarwindpy/plotting/agg_plot.py
  tests/plotting/test_agg_plot.py
  tests/plotting/test_hist1d.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

fix(solar_activity): call any callable threshold in ExtremaCalculator
  solarwindpy/solar_activity/lisird/extrema_calculator.py
  tests/solar_activity/lisird/test_extrema_calculator.py
  tests/test_source_misc_defects.py
Due: solarwindpy-physics, import-test

fix(plotting): clip one tail with .clip and type-check clip_data first
  solarwindpy/plotting/agg_plot.py
  tests/plotting/test_agg_plot.py
Due: solarwindpy-physics, import-test

fix(plotting): smooth float copies and window transposed Hist1D plots
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/tools.py
  tests/plotting/test_hist1d.py
  tests/plotting/test_nan_gaussian_filter.py
Due: solarwindpy-physics, import-test

fix(plotting): normalise a logx Hist1D density over log10(x)
  solarwindpy/plotting/hist1d.py
  tests/plotting/test_hist1d.py
Due: solarwindpy-physics, import-test

fix(plotting): normalise orbit legs once and repair OrbitHist2D plots
  solarwindpy/plotting/orbits.py
  tests/plotting/test_orbits.py
Due: solarwindpy-physics, import-test

fix(solar_activity): round the SIDC colorbar scale up to the next 100
  solarwindpy/solar_activity/sunspot_number/sidc.py
  tests/solar_activity/sunspot_number/test_sidc.py
Due: solarwindpy-physics, import-test

docs: CLAUDE.md makes shared methods over copied code a convention
  CLAUDE.md
Due: none

fix(solar_activity): use the "D" day unit pandas keeps
  solarwindpy/solar_activity/base.py
  solarwindpy/solar_activity/lisird/extrema_calculator.py
  tests/solar_activity/sunspot_number/test_ssn_extrema.py
Due: solarwindpy-physics, import-test

fix(plotting): stop plot calls writing into the caller's cbar_kwargs
  solarwindpy/plotting/base.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/orbits.py
  solarwindpy/plotting/scatter.py
  solarwindpy/plotting/spiral.py
  tests/plotting/test_base.py
Due: solarwindpy-physics, import-test

fix(plotting): limit Hist2D colours to quantiles of the plotted values
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/orbits.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

fix(plotting): build a missing colour norm inside _limit_color_norm
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/orbits.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

fix(plotting): normalise a log-axis Hist2D density over log10 of the axis
  solarwindpy/plotting/agg_plot.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_hist2d_pandas_compat.py
Due: solarwindpy-physics, import-test

refactor(plotting): one _limit_color_norm for Hist2D and SpiralPlot2D
  solarwindpy/plotting/base.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/spiral.py
  tests/plotting/test_spiral.py
Due: solarwindpy-physics, import-test

chore(scripts): retire scripts/archived now nothing cites it
  scripts/archived/doc_validation_v1_archive.tar.gz
Due: none

fix(solar_activity): pass sort explicitly to pd.concat
  solarwindpy/solar_activity/__init__.py
Due: solarwindpy-physics, import-test

test: every promised public name imports
  tests/test_public_imports.py
Due: solarwindpy-physics

refactor(plotting): move alim to PlotWithZdata with one _apply_alim
  solarwindpy/plotting/agg_plot.py
  solarwindpy/plotting/base.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/orbits.py
  solarwindpy/plotting/spiral.py
  tests/plotting/test_spiral.py
Due: solarwindpy-physics, import-test

fix: use the "D" day unit pandas keeps outside solar_activity
  tests/core/test_alfvenic_turbulence.py
  tests/core/test_plasma.py
  tests/plotting/labels/test_datetime.py
Due: solarwindpy-physics

feat(plotting): percentile alim via set_alim(kind="quantile")
  solarwindpy/plotting/base.py
  tests/plotting/test_hist2d_plotting.py
  tests/plotting/test_orbits.py
  tests/plotting/test_spiral.py
Due: solarwindpy-physics, import-test

refactor(plotting)!: retire limit_color_norm
  solarwindpy/plotting/base.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/orbits.py
  solarwindpy/plotting/spiral.py
  tests/plotting/test_hist2d_plotting.py
  tests/plotting/test_spiral.py
Due: solarwindpy-physics, import-test

refactor(plotting): one _default_norm for Hist2D plots
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

docs: CHANGELOG breaking changes for alim
  CHANGELOG.md
Due: none

docs(plans): name the PR review synthesis as a plan
  plans/plan-pr-review-synthesis-2026-09-30.md
Due: none

docs(tdd): append empirical findings to plan-pr-review-synthesis-2026-09-30 dispatch
  plans/plan-pr-review-synthesis-2026-09-30.md
Due: none

docs(tdd): purge completed plan-pr-review-synthesis-2026-09-30 unit (git retains the bytes)
  plans/plan-pr-review-synthesis-2026-09-30.md
Due: none

feat(plotting): Scatter honours alim
  solarwindpy/plotting/base.py
  solarwindpy/plotting/scatter.py
  tests/plotting/test_scatter.py
Due: solarwindpy-physics, import-test

refactor(plotting)!: remove orbit plots
  CHANGELOG.md
  solarwindpy/plotting/__init__.py
  solarwindpy/plotting/agg_plot.py
  solarwindpy/plotting/base.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/orbits.py
  tests/plotting/test_hist2d_pandas_compat.py
  tests/plotting/test_orbits.py
Due: solarwindpy-physics, import-test

fix(plotting): set_alim checks lower < upper for value limits
  solarwindpy/plotting/base.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

fix(plotting): reject a plain-string other_label
  solarwindpy/plotting/labels/special.py
  tests/plotting/labels/test_special.py
Due: solarwindpy-physics, import-test

feat(tools): normal_parameters supports any log base
  solarwindpy/tools/__init__.py
  tests/plotting/test_tools.py
Due: solarwindpy-physics, import-test

docs(changelog): normal_parameters base= and other_label TypeError
  CHANGELOG.md
Due: none

feat(plotting): Hist1D.set_axnorm accepts "t" (peak = 1)
  CHANGELOG.md
  solarwindpy/plotting/agg_plot.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_hist1d.py
  tests/plotting/test_histograms.py
Due: solarwindpy-physics, import-test

Path conditions:
  solarwindpy-physics: any of: \.py$
  import-test: any of: ^solarwindpy/.*\.py$
