Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-merge-conflict
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-added-large-files
    args: [--maxkb=5000]
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/PyCQA/doc8
  rev: v1.1.1
  hooks:
  - id: doc8
    name: doc8 - Documentation linter
    args: ['--max-line-length=100', '--quiet']
    files: \.(py|rst|md)$
    exclude: |
      (?x)^(
        docs/build/|
        docs/_build/|
        \.claude/templates/
      )$

- repo: local
  hooks:
  - id: check-conventional-commits
    name: Check Conventional Commits
    entry: scripts/check_conventional_commits.sh
    language: system
    stages: [commit-msg]
  - id: solarwindpy-physics
    name: SolarWindPy Physics Validation
    entry: .claude/hooks/pre-commit-tests.sh
    language: system
    files: \.py$
    pass_filenames: false
  - id: import-test
    name: Import Testing
    entry: python -c
    args: ["import solarwindpy; print('‚úì Import successful')"]
    language: system
    files: ^solarwindpy/.*\.py$
    pass_filenames: false
  - id: attribution-reminder
    name: Attribution Guidelines Reminder
    entry: bash -c
    args: ['echo "üìù Remember: External code needs attribution - see .claude/docs/ATTRIBUTION.md"; exit 0']
    language: system
    stages: [commit]
    pass_filenames: false
    always_run: true
    verbose: true

fix(plotting): clear nitpicky docs warnings, document, fix four defects
  solarwindpy/plotting/agg_plot.py
  solarwindpy/plotting/base.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/histograms.py
  solarwindpy/plotting/labels/__init__.py
  solarwindpy/plotting/labels/base.py
  solarwindpy/plotting/labels/composition.py
  solarwindpy/plotting/labels/datetime.py
  solarwindpy/plotting/labels/elemental_abundance.py
  solarwindpy/plotting/labels/special.py
  solarwindpy/plotting/orbits.py
  solarwindpy/plotting/scatter.py
  solarwindpy/plotting/spiral.py
  solarwindpy/plotting/tools.py
  tests/test_source_plotting_defects.py
Due: solarwindpy-physics, import-test

test(plotting): rebuild spiral mesh tests on a hand-worked mesh
  tests/plotting/test_spiral.py
Due: solarwindpy-physics

docs(fitfunctions): fix docstring references that resolve to nothing
  solarwindpy/fitfunctions/lines.py
  solarwindpy/fitfunctions/plots.py
  solarwindpy/fitfunctions/tex_info.py
  solarwindpy/fitfunctions/trend_fits.py
Due: solarwindpy-physics, import-test

docs(fitfunctions): document every item in the modules under 50%
  solarwindpy/fitfunctions/exponentials.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/power_laws.py
  solarwindpy/fitfunctions/tex_info.py
Due: solarwindpy-physics, import-test

docs(fitfunctions): move the true architecture claims into the package docstring
  docs/source/fitfunctions_architecture.md
  solarwindpy/fitfunctions/__init__.py
Due: solarwindpy-physics, import-test

test(core): repair core tests without changing physics assertions
  tests/core/test_abundances.py
  tests/core/test_alfvenic_turbulence.py
  tests/core/test_base.py
  tests/core/test_ions.py
  tests/core/test_plasma.py
  tests/core/test_plasma_io.py
  tests/core/test_quantities.py
  tests/core/test_spacecraft.py
Due: solarwindpy-physics

perf(fitfunctions): search GaussianPlusHeavySide gaps coarse to fine
  solarwindpy/fitfunctions/composite.py
Due: solarwindpy-physics, import-test

test(instabilities): first tests for verscharen2016 and beta_ani
  tests/instabilities/__init__.py
  tests/instabilities/test_beta_ani.py
  tests/instabilities/test_verscharen2016.py
Due: solarwindpy-physics

test(core): rebuild units_constants tests against CODATA, SI, and IAU
  tests/core/test_units_constants.py
Due: solarwindpy-physics

test(plotting): rebuild base and scatter tests on real Agg objects
  tests/plotting/test_base.py
  tests/plotting/test_scatter.py
Due: solarwindpy-physics

test(plotting): add Hist1D contract tests against numpy.histogram
  tests/plotting/test_hist1d.py
Due: solarwindpy-physics

test(plotting): rebuild plotting-misc on the label/mathtext contract
  tests/plotting/test_fixtures_utilities.py
  tests/plotting/test_integration.py
  tests/plotting/test_performance.py
  tests/plotting/test_visual_validation.py
Due: solarwindpy-physics

test(plotting): rebuild agg_plot, tools and nan_gaussian_filter tests on behaviour
  tests/plotting/test_agg_plot.py
  tests/plotting/test_nan_gaussian_filter.py
  tests/plotting/test_tools.py
Due: solarwindpy-physics

test: replace circular-import tests with an import-linter contract
  .github/workflows/continuous-integration.yml
  pyproject.toml
  tests/test_circular_imports.py
Due: solarwindpy-physics

test(drift): retire the Read the Docs drift test superseded by declared versions
  tests/drift/conftest.py
  tests/drift/test_drift_controls.py
  tests/drift/test_drift_readthedocs.py
Due: solarwindpy-physics

test(solar_activity): rebuild root tests on real objects
  tests/solar_activity/test_base.py
  tests/solar_activity/test_init.py
  tests/solar_activity/test_plots.py
Due: solarwindpy-physics

style(hooks): clear flake8 findings in the plan and compaction scripts
  .claude/hooks/create-compaction.py
  .claude/hooks/plan-completion-manager.py
  .claude/hooks/plan-value-generator.py
  .claude/hooks/plan-value-validator.py
  .claude/scripts/generate-test.py
Due: solarwindpy-physics

docs(usage): rewrite usage.rst as a first session that runs
  docs/source/conftest.py
  docs/source/usage.rst
Due: solarwindpy-physics

chore(paper): retire the abandoned JOSS paper directory
  paper/paper.bib
  paper/paper.md
  paper/paper.pdf
  paper/plan_joss.md
Due: none

docs(tests): repoint TEST_PATTERNS citations to sections it has
  .claude/commands/swp/test/audit.md
  .claude/docs/DEVELOPMENT.md
  tools/dev/ast_grep/test-patterns.yml
Due: none

fix(tools): make the test-patterns ast-grep rules loadable
  .claude/commands/swp/test/audit.md
  tools/dev/ast_grep/test-patterns.yml
Due: none

chore(scripts): remove six one-off scripts whose use is over
  scripts/analyze_imports.py
  scripts/analyze_imports_simple.py
  scripts/docstring_baseline_analysis.py
  scripts/update_pr_references.py
  scripts/validate_docstrings.py
  scripts/validate_physics_compliance.sh
Due: solarwindpy-physics

chore: retire one-time reports and dead scaffolding
  .gitignore
  PYTHON-310-MIGRATION-NOTES.md
  RELEASE_NOTES_PYTHON_310.md
  baseline-coverage.json
  coverage-monitor-fix.md
  create_conda_env.sh
  docs/BUILD_FAILURE_RESOLUTION.md
  docs/DEPLOYMENT_STATUS.md
  docs/README.md
  docs/READTHEDOCS_SETUP.md
  docs/VALIDATION_REPORT.md
  docs/transition-guide-doc-validation.md
  fix_d205_docstrings.py
  pre-commit-config.yaml.old
Due: solarwindpy-physics

docs: point install docs at pyproject.toml and fill CITATION
  CITATION.rst
  README.rst
  docs/source/installation.rst
Due: none

build(deps): raise scipy and matplotlib floors to the tested versions
  CONTRIBUTING.md
  docs/MIGRATION-DEPENDENCY-OVERHAUL.md
  pyproject.toml
Due: none

docs: retire the v0.3.0 dependency migration guide
  .claude/docs/DEVELOPMENT.md
  CHANGELOG.md
Due: none

docs(dispatch): PR review synthesis work order for #446-#469
  docs/dispatches/dispatch-pr-review-synthesis-2026-09-30.md
Due: none

docs(plans): PR review synthesis for #446-#469
  plans/pr-review-synthesis-2026-09-30.md
Due: none

docs(plans): record author rulings in PR review synthesis
  plans/pr-review-synthesis-2026-09-30.md
Due: none

docs(plans): put the scripts deletion on #448, which owns it
  plans/pr-review-synthesis-2026-09-30.md
Due: none

docs(plans): record final author answers in PR review synthesis
  plans/pr-review-synthesis-2026-09-30.md
Due: none

docs(plans): author approves the PR review synthesis
  plans/pr-review-synthesis-2026-09-30.md
Due: none

test(plotting): cite orbits defects by slug and function, not line number
  tests/plotting/test_orbits.py
Due: solarwindpy-physics

docs(solar_activity): set_threshold docstring states current behaviour
  solarwindpy/solar_activity/lisird/extrema_calculator.py
Due: solarwindpy-physics, import-test

test(plotting): Spent-When header covers the whole defects file
  tests/test_source_plotting_defects.py
Due: solarwindpy-physics

chore: remove unused reproducibility module and empty scripts package
  docs/source/api_reference.rst
  solarwindpy/__init__.py
  solarwindpy/reproducibility.py
  solarwindpy/scripts/__init__.py
  solarwindpy/scripts/logs/.gitignore
Due: solarwindpy-physics, import-test

fix(plotting): drop duplicate ab, carr, cos_theta measurement labels
  solarwindpy/plotting/labels/base.py
Due: solarwindpy-physics, import-test

test(core): test_gse fails when two different GSE vectors compare equal
  tests/core/test_quantities.py
Due: solarwindpy-physics

docs(solar_activity): name functools.partial as a literal in set_threshold
  solarwindpy/solar_activity/lisird/extrema_calculator.py
Due: solarwindpy-physics, import-test

test(plotting): set_log asserts both x and y axes
  tests/plotting/test_scatter.py
Due: solarwindpy-physics
