Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

solarwindpy-physics:
  name: SolarWindPy Physics Validation
  entry: .claude/hooks/pre-commit-tests.sh
  language: system
  pass_filenames: false

import-test:
  name: Import Testing
  entry: python -c
  args:
  - import solarwindpy; print('✓ Import successful')
  language: system
  pass_filenames: false

style: apply black formatting to test_metaclass_compatibility.py
  tests/fitfunctions/test_metaclass_compatibility.py
Due: solarwindpy-physics

fix(scripts): correct changelog validation regex pattern
  scripts/check_release_ready.py
Due: solarwindpy-physics

fix(ci): remove --dry-run from lockfile validation
  .github/workflows/publish.yml
Due: none

chore: auto-sync lockfiles from pyproject.toml
  solarwindpy.yml
Due: none

chore(ci): add Python 3.12 to test matrix
  .github/workflows/continuous-integration.yml
Due: none

fix(ci): align publish workflow with sync-requirements Python version
  .github/workflows/publish.yml
Due: none

fix(ci): replace fragile lockfile validation with robust checks
  .github/workflows/publish.yml
Due: none

feat: enhance status line with real API data and cache analytics
  .claude/statusline.py
Due: solarwindpy-physics

test: update statusline tests for API-based implementation
  tests/test_statusline.py
Due: solarwindpy-physics

docs: add comprehensive status line documentation
  .claude/docs/STATUSLINE.md
Due: none

feat: add Phase 3 optional components with Config system
  .claude/statusline.py
Due: solarwindpy-physics

config: enable API efficiency indicator in status line
  .claude/statusline.py
Due: solarwindpy-physics

feat: add conda-forge dependency drift detection
  .claude/docs/RELEASING.md
  docs/conda-feedstock-automation.md
  scripts/compare_feedstock_deps.py
  scripts/update_conda_feedstock.py
Due: solarwindpy-physics

fix: filter parallelization params from kwargs in TrendFit.make_1dfits
  plans/fitfunctions-audit/phase3-4-completion-summary.md
  plans/fitfunctions-audit/phase6-session-handoff.md
  solarwindpy/fitfunctions/trend_fits.py
Due: solarwindpy-physics, import-test

chore: auto-sync requirements from requirements-dev.txt
  requirements.txt
  solarwindpy.yml
Due: none

chore: update compacted state for Phase 6 fitfunctions execution
  .claude/compacted_state.md
Due: none

test: add GaussianLn coverage tests for Phase 6
  tests/fitfunctions/test_gaussians.py
Due: solarwindpy-physics

test: add Phase 6 coverage tests for core.py (94% coverage)
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics

test: add Phase 6 coverage tests for moyal.py and exponentials.py
  tests/fitfunctions/test_exponentials.py
  tests/fitfunctions/test_moyal.py
Due: solarwindpy-physics

test: add Phase 6 coverage tests for plots.py and trend_fits.py
  tests/fitfunctions/test_phase4_performance.py
  tests/fitfunctions/test_plots.py
Due: solarwindpy-physics

refactor: remove dead try/except blocks in p0 methods
  solarwindpy/fitfunctions/exponentials.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/moyal.py
Due: solarwindpy-physics, import-test

refactor: rename test_phase4_performance.py to test_trend_fits_advanced.py
  tests/fitfunctions/test_trend_fits_advanced.py
Due: solarwindpy-physics

fix: improve LinearFit.p0 for cross-platform convergence
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics

style: apply black formatting and widen timing test tolerance
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/plots.py
  solarwindpy/fitfunctions/power_laws.py
  tests/fitfunctions/test_plots.py
  tests/fitfunctions/test_trend_fits_advanced.py
  tests/test_statusline.py
Due: solarwindpy-physics, import-test

Phase 6: FitFunctions Audit - Coverage Improvement to 97% (#410)
  .claude/compacted_state.md
  benchmarks/fitfunctions_performance.py
  plans/fitfunctions-audit/phase3-4-completion-summary.md
  plans/fitfunctions-audit/phase6-session-handoff.md
  pyproject.toml
  scripts/update_conda_feedstock.py
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/exponentials.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/moyal.py
  solarwindpy/fitfunctions/plots.py
  solarwindpy/fitfunctions/power_laws.py
  solarwindpy/fitfunctions/trend_fits.py
  tests/fitfunctions/test_core.py
  tests/fitfunctions/test_exponentials.py
  tests/fitfunctions/test_gaussians.py
  tests/fitfunctions/test_moyal.py
  tests/fitfunctions/test_plots.py
  tests/fitfunctions/test_trend_fits_advanced.py
  tests/test_statusline.py
Due: solarwindpy-physics, import-test

chore: remove physics-validation.py hook as technical debt
  .claude/docs/HOOKS.md
  .claude/hooks/physics-validation.py
  .claude/settings.json
Due: solarwindpy-physics

chore: remove physics validation scope creep from agentic system
  .claude/agents.md
  .claude/agents/agent-test-engineer.md
  .claude/docs/AGENTS.md
  .claude/docs/HOOKS.md
  .claude/ecosystem-documentation.md
  .claude/stale-compactions/compaction-2025-09-04-203328-35pct.md
  .claude/stale-compactions/compaction-2025-09-05-044346-35pct.md
  .claude/stale-compactions/compaction-2025-09-06-031141-35pct.md
  .claude/stale-compactions/compaction-2025-09-06-034415-35pct.md
  .claude/stale-compactions/compaction-2025-09-06-040512-35pct.md
  .claude/stale-compactions/compaction-2025-09-06-214223-35pct.md
  .claude/stale-compactions/compaction-2025-09-08-204204-35pct.md
  .claude/stale-compactions/compaction-2025-09-08-220314-35pct.md
  .claude/stale-compactions/compaction-2025-09-09-073511-35pct.md
  .claude/stale-compactions/compaction-2025-09-09-194743-35pct.md
  .claude/stale-compactions/compaction-2025-09-09-194801-35pct.md
  .claude/stale-compactions/compaction-2025-09-09-203115-35pct.md
  .claude/stale-compactions/compaction-2025-09-09-203136-35pct.md
  .claude/stale-compactions/compaction-2025-09-09-203140-35pct.md
  .claude/stale-compactions/compaction-2025-09-09-204727-35pct.md
  .claude/stale-compactions/compaction-2025-09-10-010739-35pct.md
  .claude/stale-compactions/compaction-2025-09-10-041440-35pct.md
  .claude/stale-compactions/compaction-2025-09-13-194516-35pct.md
  .claude/stale-compactions/compaction-2025-09-14-042813-35pct.md
  .claude/stale-compactions/compaction-2025-09-15-015847-35pct.md
  .claude/stale-compactions/compaction-2025-09-15-020859-35pct.md
  CLAUDE.md
  plans/abandoned-plans-archive-2025.tar.gz
  plans/agents-architecture-archive-2025.tar.gz
  plans/completed-plans-archive-2025.tar.gz
  plans/completed-plans-documentation-archive-2025.tar.gz
  plans/completed-plans-minimal-archive-2025.tar.gz
  plans/custom-gpt-archive-2025.tar.gz
  plans/root-stale-docs-archive-2025.tar.gz
Due: none

feat(copilot): add automated check hooks
  tests/test_hook_integration.py
Due: solarwindpy-physics

feat(copilot): add implement and fix-tests commands
  .claude/commands/swp/dev/fix-tests.md
  .claude/commands/swp/dev/implement.md
Due: none

feat(copilot): add DataFrame patterns audit workflow
  .claude/commands/swp/dev/dataframe-audit.md
  tests/test_contracts_dataframe.py
  tools/dev/ast_grep/dataframe-patterns.yml
Due: solarwindpy-physics

Path conditions:
  solarwindpy-physics: any of: \.py$
  import-test: any of: ^solarwindpy/.*\.py$
