Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

solarwindpy-physics:
  name: SolarWindPy Physics Validation
  entry: .claude/hooks/pre-commit-tests.sh
  language: system
  pass_filenames: false

import-test:
  name: Import Testing
  entry: python -c
  args:
  - import solarwindpy; print('‚úì Import successful')
  language: system
  pass_filenames: false

docs: add CITATION.cff with ORCID
  CHANGELOG.md
  CITATION.cff
Due: none

fix: correct AlfvenicTurbAveraging and ComparisonLabel names
  solarwindpy/core/alfvenic_turbulence.py
  solarwindpy/plotting/labels/special.py
  tests/core/test_alfvenic_turbulence.py
  tests/plotting/labels/test_special.py
  tests/plotting/test_integration.py
Due: solarwindpy-physics, import-test

refactor: make internal helpers private
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/plots.py
  solarwindpy/plotting/base.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/labels/__init__.py
  solarwindpy/plotting/labels/base.py
  solarwindpy/plotting/scatter.py
  solarwindpy/plotting/solarwindpy.mplstyle
  solarwindpy/plotting/spiral.py
  solarwindpy/plotting/tools.py
  tests/fitfunctions/test_core.py
  tests/fitfunctions/test_exponentials.py
  tests/fitfunctions/test_lines.py
  tests/fitfunctions/test_plots.py
  tests/fitfunctions/test_power_laws.py
  tests/plotting/labels/test_labels_base.py
  tests/plotting/test_base.py
  tests/plotting/test_tools.py
Due: solarwindpy-physics, import-test

refactor: import internal modules under their real names
  solarwindpy/core/base.py
  solarwindpy/core/plasma.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/spiral.py
Due: solarwindpy-physics, import-test

test: enforce one public path per public object
  tests/test_public_imports.py
Due: solarwindpy-physics

docs: CHANGELOG path mapping
  CHANGELOG.md
Due: none

refactor: make spiral and hinge internals private
  CHANGELOG.md
  solarwindpy/fitfunctions/hinge.py
  solarwindpy/fitfunctions/plots.py
  solarwindpy/plotting/spiral.py
  tests/plotting/test_spiral.py
Due: solarwindpy-physics, import-test

refactor: remove remaining import aliases
  docs/source/conf.py
  solarwindpy/__init__.py
  solarwindpy/core/base.py
  solarwindpy/plotting/labels/base.py
  solarwindpy/plotting/labels/special.py
Due: solarwindpy-physics, import-test

test: allow only np, pd, plt, mpl, mdates import aliases
  tests/test_import_aliases.py
Due: solarwindpy-physics

docs: describe private namedtuple returns as tuple
  solarwindpy/fitfunctions/hinge.py
  solarwindpy/plotting/spiral.py
Due: solarwindpy-physics, import-test

test: seed every random input with default_rng
  tests/fitfunctions/test_trend_fits_advanced.py
  tests/solar_activity/lisird/test_extrema_calculator.py
  tests/test_contracts_class.py
  tests/test_contracts_dataframe.py
Due: solarwindpy-physics

test(solar_activity): move the SIDC docstring test beside the SIDC tests
  tests/solar_activity/sunspot_number/test_sidc.py
  tests/test_source_misc_defects.py
Due: solarwindpy-physics

docs(core): name the pdynamic parameter correctly in afsq and caani
  solarwindpy/core/plasma.py
Due: solarwindpy-physics, import-test

test(plotting): assert label ordering for all four operators
  solarwindpy/plotting/labels/base.py
  tests/test_source_plotting_defects.py
Due: solarwindpy-physics, import-test

test(core): compare Ions built from different frames
  tests/core/test_ions.py
Due: solarwindpy-physics

test(instabilities): select the BetaRPlot mesh by type
  tests/instabilities/test_beta_ani.py
Due: solarwindpy-physics

test(fitfunctions): cover x0 bounds, caller p0 and single-x in the x0 scan
  tests/test_source_fitfunctions_defects.py
Due: solarwindpy-physics

test(plotting): list inputs to Scatter carry NaNs that are dropped
  tests/plotting/test_scatter.py
Due: solarwindpy-physics

test(plotting): cross label axes pairwise and harden the listing parser
  tests/plotting/test_integration.py
Due: solarwindpy-physics

test(tools): move solarwindpy.tools tests to tests/tools
  tests/plotting/test_tools.py
  tests/tools/__init__.py
  tests/tools/test_tools.py
Due: solarwindpy-physics

chore(claude): retire the swp and propositions slash commands and their ast-grep rules
  .claude/commands/propositions.md
  .claude/commands/swp/dev/dataframe-audit.md
  .claude/commands/swp/dev/diagnose-test-failures.md
  .claude/commands/swp/dev/implement.md
  .claude/commands/swp/dev/refactor-class.md
  .claude/commands/swp/test/audit.md
  pyproject.toml
  tools/dev/ast_grep/class-patterns.yml
  tools/dev/ast_grep/dataframe-patterns.yml
  tools/dev/ast_grep/test-patterns.yml
Due: none

chore(claude): retire the GitHub Issues planning workflow
  .claude/docs/DEVELOPMENT.md
  .claude/docs/HOOKS.md
  .claude/docs/MAINTENANCE.md
  .claude/docs/PLANNING.md
  .claude/docs/RELEASING.md
  .claude/hooks/plan-scope-auditor.py
  .claude/hooks/plan-value-generator.py
  .claude/hooks/plan-value-validator.py
  .claude/scripts/README.md
  .claude/scripts/gh-plan-create.sh
  .claude/scripts/gh-plan-phases.sh
  .claude/scripts/gh-plan-status.sh
  .claude/scripts/setup-labels.sh
  CLAUDE.md
  plans/issues_from_plans.py
  tests/test_issue_titles.py
Due: solarwindpy-physics

test(drift): say that _write_declaring_repo mirrors the files read
  tests/drift/test_drift_controls.py
Due: solarwindpy-physics

chore(claude): retire git-workflow-validator.sh and its hooks
  .claude/docs/DEVELOPMENT.md
  .claude/docs/HOOKS.md
  .claude/docs/MAINTENANCE.md
  .claude/ecosystem-documentation.md
  .claude/hooks/git-workflow-validator.sh
  .claude/hooks/plan-completion-manager.py
  .claude/settings.json
  tests/test_hook_integration.py
Due: solarwindpy-physics

test(docs): usage.rst checks the available() table, not two words
  docs/source/usage.rst
Due: none

ci: drop plan/** branch triggers and the plan issue templates
  .github/ISSUE_TEMPLATE/plan-closeout.yml
  .github/ISSUE_TEMPLATE/plan-overview.yml
  .github/ISSUE_TEMPLATE/plan-phase.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/doctest_validation.yml
Due: none

test: isolate the mock git repo fixture from the caller's git environment
  tests/test_hook_integration.py
Due: solarwindpy-physics

fix(hooks): compaction reports 0% reduction when the estimate is 0 tokens
  .claude/hooks/create-compaction.py
  tests/test_hook_integration.py
Due: solarwindpy-physics

chore: ignore .DS_Store with its real capitalisation
  .gitignore
Due: none

test(core): check accepted Asplund years through ReferenceAbundances
  tests/core/test_abundances.py
Due: solarwindpy-physics

test(core): assert species and index checks through public objects
  tests/core/test_alfvenic_turbulence.py
  tests/core/test_base_head_tail.py
  tests/core/test_core_verify_datetimeindex.py
  tests/core/test_plasma.py
Due: solarwindpy-physics

test(drift): read the live ICMECAT catalog without private date columns
  tests/drift/conftest.py
Due: solarwindpy-physics

test(fitfunctions): check observation masks and fit outputs through FitFunction
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics

test(fitfunctions): replace private hasattr checks with public properties
  tests/fitfunctions/test_gaussians.py
  tests/fitfunctions/test_trend_fits_advanced.py
Due: solarwindpy-physics

test(fitfunctions): drive FFPlot tests through real fits and plot methods
  tests/fitfunctions/test_plots.py
Due: solarwindpy-physics

test(fitfunctions): assert TeXinfo formatting through build_info
  tests/fitfunctions/test_tex_info.py
Due: solarwindpy-physics

test(plotting): label tests use the public labels package
  tests/plotting/labels/test_init.py
  tests/plotting/labels/test_labels_base.py
Due: solarwindpy-physics

test(plotting): drop the base tests that reach private mixins directly
  tests/plotting/test_base.py
Due: solarwindpy-physics

test(plotting): drop tests of the unused _calculate_nrows_ncols
  tests/plotting/test_tools.py
Due: solarwindpy-physics

Path conditions:
  solarwindpy-physics: any of: \.py$
  import-test: any of: ^solarwindpy/.*\.py$
