Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-merge-conflict
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-added-large-files
    args: [--maxkb=5000]
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: local
  hooks:
  - id: check-conventional-commits
    name: Check Conventional Commits
    entry: bash -c
    args: ['[[ $(cat "$1") =~ ^(feat|fix|chore|docs|style|refactor|test|perf)(\(.+\))?: .+ ]] || { echo "❌ Commit message must follow Conventional Commits format."; exit 1; }']
    language: system
    stages: [commit-msg]
  - id: solarwindpy-physics
    name: SolarWindPy Physics Validation
    entry: .claude/hooks/pre-commit-tests.sh
    language: system
    files: \.py$
    pass_filenames: false
  - id: import-test
    name: Import Testing
    entry: python -c
    args: ["import solarwindpy; print('✓ Import successful')"]
    language: system
    files: ^solarwindpy/.*\.py$
    pass_filenames: false

fix: apply black formatting to solarwindpy/fitfunctions/plots.py
  solarwindpy/fitfunctions/plots.py
Due: solarwindpy-physics, import-test

Delete temp
  temp
Due: none

Delete Untitled.ipynb
  Untitled.ipynb
Due: none

Delete claude-stuff.tar.gz
  claude-stuff.tar.gz
Due: none

fix: update CI badge to use dedicated master workflow
  .github/workflows/ci-master.yml
  README.rst
Due: none

fix: resolve pytest collection error with abstract TestBase class
  tests/core/test_spacecraft.py
Due: solarwindpy-physics

fix: update Claude Code settings.json wildcard syntax for v1.0+ compatibility
  .claude/settings.json
Due: none

fix: replace deprecated pandas Series.max(level=) with groupby syntax
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_hist2d_pandas_compat.py
Due: solarwindpy-physics, import-test

fix: make matplotlib backend test case-insensitive
  tests/plotting/test_visual_validation.py
Due: solarwindpy-physics

chore: bump version to v0.1.4
  .gitignore
Due: none

feat: enhance GitHub Issues plan system with validation
  .claude/scripts/README.md
  .claude/scripts/gh-plan-create.sh
  .claude/scripts/gh-plan-phases.sh
  .claude/scripts/setup-labels.sh
  solarwindpy/plotting/hist2d.py
Due: solarwindpy-physics, import-test

fix: UnifiedPlanCoordinator agent execution requirements
  .claude/agents/agent-unified-plan-coordinator.md
  .claude/scripts/test-agent-execution.sh
  CLAUDE.md
Due: none

feat: merge enhanced planning system with UnifiedPlanCoordinator fixes
  .claude/compacted_state.md
  .claude/scripts/README.md
  .claude/scripts/gh-plan-create.sh
  .claude/scripts/gh-plan-phases.sh
  .claude/scripts/setup-labels.sh
  conda-recipe/meta.yaml
  conda-recipe/solarwindpy/meta.yaml
  coverage.json
  solarwindpy/plotting/hist2d.py
  tmp/conda-feedstock-automation-plan.md
  tmp/conda-forge-feedstock-plan.md
  tmp/conda-recipe/meta.yaml
  tmp/python-3.10-migration-plan.md
  tmp/unifiedplancoordinator-investigation.md
Due: solarwindpy-physics, import-test

fix: resolve GitHub Issues plan creation failures
  .claude/agents/agent-unified-plan-coordinator.md
  .claude/scripts/gh-plan-create.sh
  .claude/scripts/gh-plan-phases.sh
Due: none

feat: add solarwindpy-feedstock for temporary automation testing
  .gitignore
Due: none

docs: complete Phase 1 comprehensive plotting module documentation
  .claude/compacted_state.md
  coverage.json
  solarwindpy/plotting/ARCHITECTURE.md
  solarwindpy/plotting/agg_plot.py
  solarwindpy/plotting/base.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/orbits.py
  solarwindpy/plotting/scatter.py
  solarwindpy/plotting/spiral.py
  solarwindpy/plotting/tools.py
Due: solarwindpy-physics, import-test

feat: complete conda feedstock update automation implementation
  CLAUDE.md
  docs/conda-feedstock-automation.md
  scripts/conda_config.py
  scripts/update_conda_feedstock.py
  scripts/wait_for_pypi.py
Due: solarwindpy-physics

chore: update session state and coverage after conda automation completion
  .claude/compacted_state.md
  .claude/scripts/test-agent-execution.sh
  coverage.json
Due: none

feat: add conda feedstock automation to GitHub Actions workflow
  .github/workflows/publish.yml
Due: none

fix: emergency pandas 2.2.2 compatibility - replace removed clip methods
  solarwindpy/plotting/agg_plot.py
Due: solarwindpy-physics, import-test

feat: Phase 3 plotting module optimization - remove deprecated code & improve performance
  solarwindpy/plotting/agg_plot.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/histograms.py
  tests/plotting/test_agg_plot.py
Due: solarwindpy-physics, import-test

feat: remove quick mode from gh-plan-phases.sh and enhance agent guidance
  .claude/scripts/gh-plan-phases.sh
  CLAUDE.md
Due: none

feat: optimize documentation architecture for 85% token reduction
  .claude/docs/AGENTS.md
  .claude/docs/DEVELOPMENT.md
  .claude/docs/HOOKS.md
  .claude/docs/MAINTENANCE.md
  .claude/docs/PLANNING.md
  .claude/hooks/validate-session-state.sh
  .claude/settings.json
  CLAUDE.md
Due: none

chore: save session state and coverage updates
  .claude/compacted_state.md
  coverage.json
  tmp/issue_312_comment.md
  tmp/phase2-diagnostic-summary.md
Due: none

chore: update branch references after rename to remove ampersand
  .claude/compacted_state.md
Due: none

fix: resolve CI workflow failures and test issues
  README.rst
  solarwindpy/plotting/hist2d.py
  tests/fitfunctions/test_lines.py
  tests/solar_activity/sunspot_number/test_sidc_loader.py
Due: solarwindpy-physics, import-test

chore: update branch references after rename to correct issue number
  .claude/compacted_state.md
Due: none

chore: commit to checkout master
  coverage.json
  plans/cicd-architecture-redesign/7-Cleanup.md
Due: none

feat: integrate doc8 documentation linting with SolarWindPy-specific configuration
  .claude/docs/DEVELOPMENT.md
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  setup.cfg
Due: none

feat: implement docstring inheritance for fitfunctions submodule
  docs/requirements.txt
  docs/source/conf.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/exponentials.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/lines.py
  solarwindpy/fitfunctions/moyal.py
  solarwindpy/fitfunctions/power_laws.py
Due: solarwindpy-physics, import-test

fix: update Moyal tests to use correct FitFunction constructor signature
  tests/fitfunctions/test_moyal.py
Due: solarwindpy-physics

style: apply Black formatting to fitfunctions module
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/lines.py
  solarwindpy/fitfunctions/moyal.py
Due: solarwindpy-physics, import-test
