Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

solarwindpy-physics:
  name: SolarWindPy Physics Validation
  entry: .claude/hooks/pre-commit-tests.sh
  language: system
  pass_filenames: false

import-test:
  name: Import Testing
  entry: python -c
  args:
  - import solarwindpy; print('✓ Import successful')
  language: system
  pass_filenames: false

chore: auto-sync requirements from requirements-dev.txt
  docs/requirements.txt
  requirements.txt
  solarwindpy-20250908.yml
Due: none

feat: complete Phase 3 fitfunctions architecture review and modernization
  .claude/hooks/plan-completion-manager.py
  .claude/hooks/plan-scope-auditor.py
  docs/source/fitfunctions_architecture.md
  solarwindpy/fitfunctions/__init__.py
  solarwindpy/fitfunctions/core.py
  tests/fitfunctions/test_core.py
  tests/fitfunctions/test_exponentials.py
  tests/fitfunctions/test_gaussians.py
  tests/fitfunctions/test_lines.py
  tests/fitfunctions/test_moyal.py
  tests/fitfunctions/test_power_laws.py
  tests/fitfunctions/test_trend_fits.py
Due: solarwindpy-physics, import-test

refactor: standardize conda environment to solarwindpy.yml without date suffixes
  .github/workflows/doctest_validation.yml
  .github/workflows/sync-requirements.yml
  scripts/requirements_to_conda_env.py
  solarwindpy.yml
Due: solarwindpy-physics

chore: update session state and coverage data
  .claude/compacted_state.md
  coverage.json
Due: none

fix: resolve test failures and linting issues in unrelated test files
  tests/plotting/test_visual_validation.py
  tests/solar_activity/sunspot_number/test_sidc_loader.py
Due: solarwindpy-physics

feat: implement Phase 4 TrendFit parallelization and optimization
  benchmarks/fitfunctions_performance.py
  pyproject.toml
  requirements-dev.txt
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/trend_fits.py
  tests/fitfunctions/test_phase4_performance.py
Due: solarwindpy-physics, import-test

chore: auto-sync requirements from requirements-dev.txt
  requirements.txt
  solarwindpy.yml
Due: none

fix: correct parallel execution to preserve fitted FitFunction objects
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/trend_fits.py
  tests/fitfunctions/test_phase4_performance.py
Due: solarwindpy-physics, import-test

refactor: Phase 5 deprecation and simplification of fitfunctions module
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/plots.py
  solarwindpy/fitfunctions/power_laws.py
  solarwindpy/fitfunctions/trend_fits.py
Due: solarwindpy-physics, import-test

chore: Added Zenodo DOI to README
  README.rst
Due: none

chore: auto-sync requirements from requirements-dev.txt
  requirements.txt
Due: none

docs(claude): add prompt improvement protocol to CLAUDE.md
  CLAUDE.md
Due: none

chore: update session state and coverage data
  coverage.json
Due: none

feat: add git tag provenance and GitHub release verification to conda automation
  scripts/update_conda_feedstock.py
Due: solarwindpy-physics

docs(paper): add conda-forge installation and complete JOSS checklist
  paper/paper.md
  paper/plan_joss.md
Due: none

docs: add PyPI and conda-forge distribution badges
  README.rst
Due: none

Update README.rst
  README.rst
Due: none

chore: remove coverage.json from version control
  .gitignore
  coverage.json
Due: none

feat(statusline): enhance with Max plan optimization and SolarWindPy integration
  .claude/statusline.py
Due: solarwindpy-physics

docs(paper): add AI-Assisted Development Workflow section
  paper/paper.md
Due: none

Path conditions:
  solarwindpy-physics: any of: \.py$
  import-test: any of: ^solarwindpy/.*\.py$
