Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-merge-conflict
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-added-large-files
    args: [--maxkb=5000]
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/PyCQA/doc8
  rev: v1.1.1
  hooks:
  - id: doc8
    name: doc8 - Documentation linter
    args: ['--max-line-length=100', '--quiet']
    files: \.(py|rst|md)$
    exclude: |
      (?x)^(
        docs/build/|
        docs/_build/|
        \.claude/templates/
      )$

- repo: local
  hooks:
  - id: check-conventional-commits
    name: Check Conventional Commits
    entry: scripts/check_conventional_commits.sh
    language: system
    stages: [commit-msg]
  - id: solarwindpy-physics
    name: SolarWindPy Physics Validation
    entry: .claude/hooks/pre-commit-tests.sh
    language: system
    files: \.py$
    pass_filenames: false
  - id: import-test
    name: Import Testing
    entry: python -c
    args: ["import solarwindpy; print('‚úì Import successful')"]
    language: system
    files: ^solarwindpy/.*\.py$
    pass_filenames: false
  - id: attribution-reminder
    name: Attribution Guidelines Reminder
    entry: bash -c
    args: ['echo "üìù Remember: External code needs attribution - see .claude/docs/ATTRIBUTION.md"; exit 0']
    language: system
    stages: [commit]
    pass_filenames: false
    always_run: true
    verbose: true

fix(ci): make the PR review actually post, not just exit green
  .github/workflows/claude-code-review.yml
Due: none

chore(ci): drop the JOSS paper rebuild, the paper is abandoned
  .github/workflows/draft-joss-paper.yml
Due: none

test(solar_activity): specify DataLoader.age's contract instead of its current state
  tests/solar_activity/test_base.py
Due: solarwindpy-physics

docs(testing): record contract testing over state testing, and why the repo checks are not enough
  .claude/docs/TEST_PATTERNS.md
Due: none

test(solar_activity): narrow both strict xfails so they cannot absorb unrelated failures
  tests/solar_activity/sunspot_number/test_sidc.py
  tests/solar_activity/sunspot_number/test_sidc_loader.py
Due: solarwindpy-physics

docs(session): stub 2026-09-25 entry for an unlogged session
  docs/PROGRESS.md
Due: none

fix(testing): match= does not work on pytest.mark.xfail; correct the marker and the guidance
  .claude/docs/TEST_PATTERNS.md
  tests/solar_activity/test_base.py
Due: solarwindpy-physics

fix(core): take hbar from scipy's exact value, set the IAU 2015 solar radius
  solarwindpy/core/units_constants.py
  tests/core/test_spacecraft.py
  tests/core/test_units_constants.py
Due: solarwindpy-physics, import-test

refactor(plotting)!: retire SelectFromPlot2D
  CHANGELOG.md
  docs/source/api_reference.rst
  solarwindpy/plotting/__init__.py
  solarwindpy/plotting/select_data_from_figure.py
  tests/plotting/test_select_data_from_figure.py
Due: solarwindpy-physics, import-test

fix(core): report heat flux in uW m^-2, matching its label
  solarwindpy/core/units_constants.py
  solarwindpy/plotting/labels/base.py
  tests/core/test_plasma.py
  tests/core/test_units_constants.py
Due: solarwindpy-physics, import-test

fix(core): define the kinetic energy flux unit so Wk can be computed
  solarwindpy/core/units_constants.py
  tests/core/test_ions.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

fix(core): convert specific entropy to eV cm^2 m_p^-5/3 as labelled
  solarwindpy/core/units_constants.py
  tests/core/test_ions.py
  tests/core/test_plasma.py
Due: solarwindpy-physics, import-test

docs(changelog): record the unit and constant fixes that change computed values
  CHANGELOG.md
Due: none

fix(plotting): label heat flux Q and kinetic energy flux W_K, both in uW m^-2
  solarwindpy/plotting/labels/base.py
  tests/plotting/labels/test_labels_base.py
Due: solarwindpy-physics, import-test

refactor(plotting)!: retire the unused "Q" label key
  CHANGELOG.md
  solarwindpy/plotting/labels/base.py
  tests/plotting/labels/test_labels_base.py
Due: solarwindpy-physics, import-test

docs(testing): write the test standard as TEST_PATTERNS.md
  .claude/docs/TEST_PATTERNS.md
Due: none

docs(dispatch): solarwindpy-modernization-phases 2026-09-28
  docs/dispatches/dispatch-solarwindpy-modernization-phases-2026-09-28.md
Due: none

ci(docs): run doctests under pytest and retire the standalone runner
  .github/workflows/doctest_validation.yml
  CONTRIBUTING.md
  conftest.py
  docs/source/conftest.py
  scripts/simple_doc_validation/__init__.py
  scripts/simple_doc_validation/ci_integration.py
  scripts/simple_doc_validation/doctest_runner.py
  scripts/simple_doc_validation/doctest_validation_report.json
  scripts/simple_doc_validation/doctest_validation_summary.txt
  scripts/simple_doc_validation/validation_utils.py
  solarwindpy/fitfunctions/core.py
  solarwindpy/plotting/spiral.py
Due: solarwindpy-physics, import-test

fix(docs): let SPHINXOPTS from the environment reach sphinx-build
  docs/Makefile
Due: none

ci(pre-commit): extend black and flake8 to scripts/, and lint scripts/
  .pre-commit-config.yaml
  scripts/analyze_imports.py
  scripts/analyze_imports_fixed.py
  scripts/analyze_imports_simple.py
  scripts/bump_version.py
  scripts/check_release_ready.py
  scripts/compare_feedstock_deps.py
  scripts/conda_config.py
  scripts/docstring_baseline_analysis.py
  scripts/docstring_coverage.py
  scripts/test_dynamic_imports.py
  scripts/update_conda_feedstock.py
  scripts/validate_docstrings.py
  scripts/wait_for_pypi.py
Due: solarwindpy-physics

build!: require Python 3.12 and check every declared version against it
  .github/workflows/continuous-integration.yml
  .github/workflows/publish.yml
  .github/workflows/sync-requirements.yml
  .readthedocs.yaml
  pyproject.toml
  recipe/meta.yaml
  tests/test_declared_versions.py
  tox.ini
Due: solarwindpy-physics

build: set the pandas range from measurement, >=2.2,<4
  pyproject.toml
Due: none

ci(dependabot): route pip updates through pyproject.toml ranges
  .github/dependabot.yml
Due: none

build(conda): keep recipe/meta.yaml as the single conda recipe
  .claude/settings.json
  conda-recipe/meta.yaml
  conda-recipe/solarwindpy/meta.yaml
Due: none

chore: auto-sync lockfiles from pyproject.toml
  docs/requirements.txt
  requirements-dev.lock
  requirements.txt
  solarwindpy.yml
Due: none

docs(dispatch): write the phase-4 batch instruction for W4, W5, W6
  docs/dispatches/batch-phase4-2026-09-28.md
Due: none
