Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

solarwindpy-physics:
  name: SolarWindPy Physics Validation
  entry: .claude/hooks/pre-commit-tests.sh
  language: system
  pass_filenames: false

import-test:
  name: Import Testing
  entry: python -c
  args:
  - import solarwindpy; print('‚úì Import successful')
  language: system
  pass_filenames: false

build!: require pandas 3
  pyproject.toml
Due: none

build!: retire the lockfiles; install everything from pyproject.toml
  .claude/docs/DEVELOPMENT.md
  .claude/docs/MAINTENANCE.md
  .claude/settings.json
  .github/WORKFLOWS.md
  .github/dependabot.yml
  .github/workflows/ci-master.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/docs.yml
  .github/workflows/doctest_validation.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/sync-requirements.yml
  .readthedocs.yaml
  CONTRIBUTING.md
  README.rst
  docs/README.md
  docs/requirements.txt
  docs/source/installation.rst
  requirements-dev.lock
  requirements.txt
  scripts/requirements_to_conda_env.py
  tox.ini
Due: solarwindpy-physics

build(conda): remove the in-repo recipe copy; floor test reads what is tested
  .claude/docs/MAINTENANCE.md
  .claude/settings.json
  README.rst
  recipe/meta.yaml
  scripts/update_conda_recipe.py
  tests/test_declared_versions.py
Due: solarwindpy-physics

docs(changelog): record the Python 3.12 and pandas 3 floors and the single dependency source
  CHANGELOG.md
Due: none

docs(dispatch): align the phase-4 instruction with the single dependency source
  docs/dispatches/batch-phase4-2026-09-28.md
Due: none

fix(fitfunctions): make the residuals doctest independent of numpy's bool repr
  solarwindpy/fitfunctions/core.py
Due: solarwindpy-physics, import-test

docs(tdd): append empirical findings to dispatch-solarwindpy-modernization-phases-2026-09-28 dispatch
  docs/dispatches/dispatch-solarwindpy-modernization-phases-2026-09-28.md
Due: none

docs(tdd): purge completed dispatch-solarwindpy-modernization-phases-2026-09-28 unit (git retains the bytes)
  docs/dispatches/dispatch-solarwindpy-modernization-phases-2026-09-28.md
Due: none

ci: run black and flake8 at the versions pinned in pre-commit
  .github/workflows/ci-master.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

style: reformat solarwindpy/ with black 26.5.1
  solarwindpy/core/alfvenic_turbulence.py
  solarwindpy/core/plasma.py
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/exponentials.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/hinge.py
  solarwindpy/fitfunctions/lines.py
  solarwindpy/fitfunctions/moyal.py
  solarwindpy/fitfunctions/trend_fits.py
  solarwindpy/plotting/agg_plot.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/labels/__init__.py
  solarwindpy/plotting/labels/base.py
  solarwindpy/plotting/labels/datetime.py
  solarwindpy/plotting/labels/special.py
  solarwindpy/plotting/orbits.py
  solarwindpy/plotting/scatter.py
  solarwindpy/plotting/spiral.py
  solarwindpy/solar_activity/icme/icmecat.py
  solarwindpy/solar_activity/lisird/lisird.py
Due: solarwindpy-physics, import-test

chore: skip the black 26.5.1 reformat in git blame
  .git-blame-ignore-revs
Due: none

docs(dispatch): repoint two phase-4 line cites moved by the black reformat
  docs/dispatches/batch-phase4-2026-09-28.md
Due: none

docs(session): retire PROGRESS.md
  docs/PROGRESS.md
Due: none

docs(tdd): append empirical findings to plan-modernization-stages-1-3-2026-09-28 plan
  docs/dispatches/plan-modernization-stages-1-3-2026-09-28.md
Due: none

docs(tdd): purge completed plan-modernization-stages-1-3-2026-09-28 unit (git retains the bytes)
  docs/dispatches/plan-modernization-stages-1-3-2026-09-28.md
Due: none

build(docs): make autosummary the only API tree and resolve type refs
  .github/workflows/docs.yml
  docs/Makefile
  docs/TEMPLATE_SYSTEM.md
  docs/add_no_index.py
  docs/make.bat
  docs/source/_templates/autosummary/module.rst
  docs/source/_templates/layout.html
  docs/source/api_reference.rst
  docs/source/conf.py
Due: solarwindpy-physics

docs(dispatch): retarget phase-4 batch after docs-build merged
  docs/dispatches/batch-phase4-2026-09-28.md
Due: none

docs(dispatch): assign fitfunctions_architecture.md to source-fitfunctions
  docs/dispatches/batch-phase4-2026-09-28.md
Due: none

feat(api): add available() to labels and fitfunctions
  solarwindpy/fitfunctions/__init__.py
  solarwindpy/plotting/labels/__init__.py
  tests/test_available.py
Due: solarwindpy-physics, import-test

docs(dispatch): drop the labels __all__ fix from source-plotting
  docs/dispatches/batch-phase4-2026-09-28.md
Due: none

refactor(labels): remove available_labels; test available() by contract
  docs/source/usage.rst
  solarwindpy/plotting/labels/__init__.py
  tests/plotting/labels/test_init.py
  tests/test_available.py
Due: solarwindpy-physics, import-test

docs(dispatch): source-plotting keeps labels.available() only
  docs/dispatches/batch-phase4-2026-09-28.md
Due: none

feat(fitfunctions): offer every fit function at package level
  solarwindpy/fitfunctions/__init__.py
  tests/test_fitfunctions_public_names.py
Due: solarwindpy-physics, import-test

docs(dispatch): tell source-fitfunctions every fit function is public
  docs/dispatches/batch-phase4-2026-09-28.md
Due: none

fix(hooks): run the Python pre-commit hooks in the solarwindpy env
  .claude/hooks/pre-commit-tests.sh
  .claude/hooks/project-env.sh
  .pre-commit-config.yaml
Due: none

style(tests): clear flake8 in fitfunctions hinge, composite, heaviside tests
  tests/fitfunctions/test_composite.py
  tests/fitfunctions/test_heaviside.py
  tests/fitfunctions/test_hinge.py
Due: solarwindpy-physics

test(fitfunctions): run scipy for real in test_core instead of patching it
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics

test(fitfunctions): assert plotted data in test_plots instead of spying
  tests/fitfunctions/test_plots.py
Due: solarwindpy-physics

test(plotting): rebuild orbits tests on a hand-built orbit
  tests/plotting/test_orbits.py
Due: solarwindpy-physics

test(fitfunctions): drive TrendFit plotting for real; xfail Gaussian.make_fit
  tests/fitfunctions/test_gaussians.py
  tests/fitfunctions/test_trend_fits.py
Due: solarwindpy-physics

test(fitfunctions): resolve the three skip sites; xfail the Moyal formula
  tests/fitfunctions/test_moyal.py
  tests/fitfunctions/test_trend_fits_advanced.py
Due: solarwindpy-physics

docs(solar_activity): document the modules under 50% and drop commented-out code
  solarwindpy/solar_activity/__init__.py
  solarwindpy/solar_activity/base.py
  solarwindpy/solar_activity/lisird/__init__.py
  solarwindpy/solar_activity/lisird/extrema_calculator.py
  solarwindpy/solar_activity/lisird/lisird.py
  solarwindpy/solar_activity/plots.py
  solarwindpy/solar_activity/sunspot_number/sidc.py
  tests/test_source_misc_defects.py
Due: solarwindpy-physics, import-test

docs(instabilities): resolve the Verscharen2016a citation
  docs/source/solarwindpy.bib
  solarwindpy/instabilities/beta_ani.py
  solarwindpy/instabilities/verscharen2016.py
Due: solarwindpy-physics, import-test

chore: untrack .DS_Store and correct the package README
  solarwindpy/README.md
  solarwindpy/__init__.py
  solarwindpy/solar_activity/sunspot_number/.DS_Store
Due: solarwindpy-physics, import-test

fix(core): clear core nitpicky docs warnings and commented-out code
  solarwindpy/core/alfvenic_turbulence.py
  solarwindpy/core/base.py
  solarwindpy/core/plasma.py
  solarwindpy/core/spacecraft.py
  solarwindpy/core/units_constants.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): GaussianPlusHeavySide fits x0 by scanning sample gaps
  conftest.py
  solarwindpy/fitfunctions/composite.py
  tests/test_source_fitfunctions_defects.py
Due: solarwindpy-physics, import-test

refactor(fitfunctions): remove commented-out code
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/moyal.py
  solarwindpy/fitfunctions/plots.py
  solarwindpy/fitfunctions/power_laws.py
  solarwindpy/fitfunctions/tex_info.py
  solarwindpy/fitfunctions/trend_fits.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): Line and LineXintercept guess the intercept's sign right
  solarwindpy/fitfunctions/lines.py
  tests/test_source_fitfunctions_defects.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): Popt1DKeys typename matches the name it is bound to
  solarwindpy/fitfunctions/trend_fits.py
  tests/test_source_fitfunctions_defects.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): make_fit runs when a fit function's p0 is None
  solarwindpy/fitfunctions/core.py
  tests/test_source_fitfunctions_defects.py
Due: solarwindpy-physics, import-test

Path conditions:
  solarwindpy-physics: any of: \.py$
  import-test: any of: ^solarwindpy/.*\.py$
