Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-merge-conflict
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-added-large-files
    args: [--maxkb=5000]
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: local
  hooks:
  - id: check-conventional-commits
    name: Check Conventional Commits
    entry: bash -c
    args: ['[[ $(cat "$1") =~ ^(feat|fix|chore|docs|style|refactor|test|perf)(\(.+\))?: .+ ]] || { echo "❌ Commit message must follow Conventional Commits format."; exit 1; }']
    language: system
    stages: [commit-msg]
  - id: solarwindpy-physics
    name: SolarWindPy Physics Validation
    entry: .claude/hooks/pre-commit-tests.sh
    language: system
    files: \.py$
    pass_filenames: false
  - id: import-test
    name: Import Testing
    entry: python -c
    args: ["import solarwindpy; print('✓ Import successful')"]
    language: system
    files: ^solarwindpy/.*\.py$
    pass_filenames: false

docs: add Anthropic application strategy document
  .claude/anthropic-application.md
Due: none

docs(attribution): add comprehensive code attribution guidelines
  .claude/docs/ATTRIBUTION.md
  .claude/docs/DEVELOPMENT.md
  .claude/docs/MAINTENANCE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitmessage
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

docs: remove original monolithic documentation files
  .claude/docs/FEATURE_INTEGRATION.md
  .claude/docs/SLASH_COMMANDS.md
Due: none

chore(docs): archive completed documentation update prompt
  .claude/docs/archived/DOCUMENTATION_UPDATE_PROMPT_2025-10-25.md
Due: none

docs: restructure feature integration into modular directory
  .claude/docs/FEATURE_INTEGRATION.md
  .claude/docs/SLASH_COMMANDS.md
  .claude/docs/feature_integration/01_memory_hierarchy.md
  .claude/docs/feature_integration/02_skills_system.md
  .claude/docs/feature_integration/03_subagents.md
  .claude/docs/feature_integration/04_enhanced_hooks.md
  .claude/docs/feature_integration/05_checkpointing.md
  .claude/docs/feature_integration/06_output_styles.md
  .claude/docs/feature_integration/07_slash_commands.md
  .claude/docs/feature_integration/INDEX.md
  .claude/docs/feature_integration/appendices/integration_checklist.md
  .claude/docs/feature_integration/appendices/quick_reference.md
Due: none

docs(feature-integration): correct memory hierarchy and MCS structure
  .claude/docs/feature_integration/01_memory_hierarchy.md
  .claude/docs/feature_integration/02_skills_system.md
  .claude/docs/feature_integration/03_subagents.md
  .claude/docs/feature_integration/INDEX.md
  .pre-commit-config.yaml
  scripts/check_conventional_commits.sh
Due: none

refactor(labels): rename ChargeState to ChargeStateRatio
  solarwindpy/plotting/labels/__init__.py
  solarwindpy/plotting/labels/composition.py
  tests/plotting/labels/test_composition.py
Due: solarwindpy-physics, import-test

chore: auto-sync requirements from requirements-dev.txt
  requirements.txt
Due: none

docs(feature-integration): complete Phase 2 & 3 audit corrections
  .claude/docs/feature_integration/01_memory_hierarchy.md
  .claude/docs/feature_integration/02_skills_system.md
  .claude/docs/feature_integration/03_subagents.md
  .claude/docs/feature_integration/04_enhanced_hooks.md
  .claude/docs/feature_integration/05_checkpointing.md
  .claude/docs/feature_integration/06_output_styles.md
  .claude/docs/feature_integration/07_slash_commands.md
  .claude/docs/feature_integration/08_plugin_packaging.md
  .claude/docs/feature_integration/INDEX.md
  .claude/docs/feature_integration/appendices/integration_checklist.md
  .claude/docs/feature_integration/appendices/plugin_quick_start.md
  .claude/docs/feature_integration/appendices/quick_reference.md
Due: none

fix(doctests): resolve validation failures for JOSS submission
  solarwindpy/core/ions.py
  solarwindpy/core/plasma.py
  solarwindpy/core/spacecraft.py
  solarwindpy/fitfunctions/core.py
  solarwindpy/instabilities/beta_ani.py
  solarwindpy/tools/__init__.py
Due: solarwindpy-physics, import-test

docs(paper): update acknowledgements and AI infrastructure details
  .claude/anthropic-application.md
  paper/paper.md
Due: none

docs(changelog): add v0.1.5 release notes
  CHANGELOG.md
Due: none

test: skip outdated statusline tests for v0.1.5 release
  tests/test_statusline.py
Due: solarwindpy-physics

fix: remove Anaconda defaults channel for JOSS compliance
  CHANGELOG.md
  scripts/requirements_to_conda_env.py
  solarwindpy-20250908.yml
  solarwindpy.yml
Due: solarwindpy-physics

chore: remove obsolete planning documents from tmp/
  tmp/conda-feedstock-automation-plan.md
  tmp/conda-forge-feedstock-plan.md
  tmp/conda-recipe/meta.yaml
  tmp/python-3.10-migration-plan.md
  tmp/unifiedplancoordinator-investigation.md
Due: none

docs: fix ReadTheDocs configuration for v0.1.5 JOSS submission
  .readthedocs.yaml
  README.rst
  docs/requirements.txt
  docs/source/installation.rst
  paper/paper.md
  scripts/generate_docs_requirements.py
Due: solarwindpy-physics

fix(deps): downgrade Sphinx to 8.1.3 for Python 3.10 compatibility
  requirements-dev.txt
  requirements.txt
Due: none

feat!: bump minimum Python to 3.11, add Python 3.13 CI testing
  .github/workflows/continuous-integration.yml
  .readthedocs.yaml
  README.rst
  docs/source/installation.rst
  pyproject.toml
  requirements-dev.txt
Due: none

docs(agents): document consolidation history and synchronize documentation
  .claude/agents.md
  .claude/agents/agent-dataframe-architect.md
  .claude/agents/agent-numerical-stability-guard.md
  .claude/docs/AGENTS.md
  .claude/docs/decisions/2025-08-15-agent-consolidation.md
Due: none

fix(license): convert LICENSE.rst to plain LICENSE for GitHub detection
  LICENSE
  README.rst
  pyproject.toml
Due: none

fix: remove remaining Python 3.10 references from CI and packaging
  .github/workflows/doctest_validation.yml
  conda-recipe/meta.yaml
  conda-recipe/solarwindpy/meta.yaml
  recipe/meta.yaml
  scripts/conda_config.py
  tox.ini
Due: solarwindpy-physics

docs(readme): add runnable Quick Start example with accurate sample data
  README.rst
Due: none

docs: fix LICENSE reference in index.rst after file rename
  docs/source/index.rst
Due: none

docs(changelog): prepare v0.2.0 release notes
  CHANGELOG.md
Due: none

style: apply black formatting to test files
  tests/plotting/test_visual_validation.py
  tests/solar_activity/sunspot_number/test_sidc.py
  tests/solar_activity/sunspot_number/test_sidc_loader.py
  tests/solar_activity/sunspot_number/test_ssn_extrema.py
  tests/test_statusline.py
Due: solarwindpy-physics

chore: add tmp/ to .gitignore
  .gitignore
Due: none
