Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

solarwindpy-physics:
  name: SolarWindPy Physics Validation
  entry: .claude/hooks/pre-commit-tests.sh
  language: system
  pass_filenames: false

import-test:
  name: Import Testing
  entry: python -c
  args:
  - import solarwindpy; print('‚úì Import successful')
  language: system
  pass_filenames: false

docs(dispatch): record the shared doctest setup decision for plasma.py examples
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

test(core): share exact-tolerance helper and year fixture in abundance tests
  tests/core/test_abundances.py
Due: solarwindpy-physics

test(core): make _missing_b_plasma reject unsupported species pairs
  tests/core/test_plasma.py
Due: solarwindpy-physics

test(docs): run each rst example once and give doctests a shared plasma
  conftest.py
  docs/source/installation.rst
Due: solarwindpy-physics

test(hooks): match PostToolUse matchers as regular expressions
  tests/test_hooks.py
Due: solarwindpy-physics

test(icme): keep the shared CATALOG read-only; note pandas 3 id dtype
  tests/solar_activity/icme/conftest.py
  tests/solar_activity/icme/test_icmecat_integration.py
Due: solarwindpy-physics

test(solar_activity): seed the stale SIDC cache through seed_cache; neutral guard message
  tests/solar_activity/sunspot_number/test_sidc.py
Due: solarwindpy-physics

test(fitfunctions): narrow p0 warning check and bound the weights gap
  tests/fitfunctions/test_exponentials.py
  tests/fitfunctions/test_lines.py
  tests/fitfunctions/test_power_laws.py
Due: solarwindpy-physics

test(plotting): pin contourf in the nan-aware hist2d test
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics

docs: clean up ICMECAT example temp dirs and drop orphaned plasma note
  solarwindpy/core/plasma.py
  solarwindpy/solar_activity/icme/__init__.py
  solarwindpy/solar_activity/icme/icmecat.py
Due: solarwindpy-physics, import-test

docs(dispatch): retire ATTRIBUTION.md in the dev-extras unit
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

test(fitfunctions): expect the covariance OptimizeWarning on one-point CDF fit
  tests/fitfunctions/test_exponentials.py
Due: solarwindpy-physics

test(hooks): evaluate hook matchers by Claude Code's documented rules
  tests/test_hooks.py
Due: solarwindpy-physics

test(docs): limit doctest plasma to .py docstrings and harden dedup
  conftest.py
  docs/source/tutorial/quickstart.rst
Due: solarwindpy-physics

test(core): note CODATA vintage of hand literals and Eq. 23 cancellation
  tests/core/test_plasma.py
Due: solarwindpy-physics

docs(dispatch): add plasma-code-fixes and small-code-fixes follow-up units
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

docs(core): use the shared doctest plasma in four Plasma examples
  solarwindpy/core/plasma.py
Due: solarwindpy-physics, import-test

docs: retire ATTRIBUTION.md; Co-Authored-By trailer is the AI attribution
  .claude/docs/ATTRIBUTION.md
  .claude/docs/DEVELOPMENT.md
  .claude/docs/MAINTENANCE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitmessage
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

chore(deps): drop unused review tools from the dev extra
  pyproject.toml
Due: none

docs(claude): restate measured coverage without the hook threshold
  CLAUDE.md
Due: none

docs(dispatch): units push only with an explicit refspec
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(core): load only Asplund 2021 abundances and restore noble-gas CI values
  CHANGELOG.md
  solarwindpy/core/abundances.py
  solarwindpy/core/data/asplund2009.csv
  solarwindpy/core/data/asplund2021.csv
  tests/core/test_abundances.py
Due: solarwindpy-physics, import-test

docs(review): record the linkcheck re-measurement
  docs/dispatches/findings-test-quality-review-2026-10-02.md
Due: none

revert: undo docstring commit 6ed14f84 that reached master without review
  solarwindpy/core/plasma.py
Due: solarwindpy-physics, import-test

docs(dispatch): fold attribution and coverage-wording leftovers into small-code-fixes
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(solar_activity): cache ICMECAT as CSV, not parquet
  solarwindpy/solar_activity/icme/icmecat.py
  tests/solar_activity/icme/test_icmecat.py
Due: solarwindpy-physics, import-test

fix(plotting): state that plot_edges keeps vertices on an xlim/ylim limit
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

fix(fitfunctions): check for repeated x before the line slope estimate divides
  solarwindpy/fitfunctions/lines.py
  tests/fitfunctions/test_lines.py
Due: solarwindpy-physics, import-test

Path conditions:
  solarwindpy-physics: any of: \.py$
  import-test: any of: ^solarwindpy/.*\.py$
