Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

solarwindpy-physics:
  name: SolarWindPy Physics Validation
  entry: .claude/hooks/pre-commit-tests.sh
  language: system
  pass_filenames: false

import-test:
  name: Import Testing
  entry: python -c
  args:
  - import solarwindpy; print('‚úì Import successful')
  language: system
  pass_filenames: false

feat(copilot): add class usage refactoring workflow
  .claude/commands/swp/dev/refactor-class.md
  tests/test_contracts_class.py
  tools/dev/ast_grep/class-patterns.yml
Due: solarwindpy-physics

feat(copilot): integrate ast-grep with grep fallback for pattern detection
  .claude/commands/swp/dev/dataframe-audit.md
  .claude/commands/swp/dev/refactor-class.md
  tools/dev/ast_grep/class-patterns.yml
  tools/dev/ast_grep/dataframe-patterns.yml
Due: none

chore(deps): add ast-grep-py and pre-commit to dev dependencies
  pyproject.toml
Due: none

fix(deps): update urllib3 to 2.6.3 for CVE-2026-21441
  docs/requirements.txt
  requirements-dev.lock
Due: none

fix(deps): add pip-to-conda name translations and pip-only exclusions
  scripts/requirements_to_conda_env.py
  solarwindpy.yml
Due: solarwindpy-physics

feat(deps): add pip-only packages to conda yml pip: subsection
  scripts/requirements_to_conda_env.py
  solarwindpy.yml
Due: solarwindpy-physics

refactor(deps): remove ast-grep-py, use MCP server instead
  pyproject.toml
  requirements-dev.lock
  scripts/requirements_to_conda_env.py
  solarwindpy.yml
Due: solarwindpy-physics

chore: auto-sync lockfiles from pyproject.toml
  docs/requirements.txt
  requirements-dev.lock
  solarwindpy.yml
Due: none

feat(copilot): Development Copilot implementation (#412)
  .claude/commands/swp/dev/dataframe-audit.md
  .claude/commands/swp/dev/fix-tests.md
  .claude/commands/swp/dev/implement.md
  .claude/commands/swp/dev/refactor-class.md
  docs/requirements.txt
  pyproject.toml
  requirements-dev.lock
  scripts/requirements_to_conda_env.py
  solarwindpy.yml
  tests/test_contracts_class.py
  tests/test_contracts_dataframe.py
  tests/test_hook_integration.py
  tools/dev/ast_grep/class-patterns.yml
  tools/dev/ast_grep/dataframe-patterns.yml
Due: solarwindpy-physics

feat: add reproducibility module and Hist2D plotting enhancements
  pyproject.toml
  solarwindpy/__init__.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/reproducibility.py
  tests/plotting/test_hist2d_plotting.py
  tests/plotting/test_nan_gaussian_filter.py
Due: solarwindpy-physics, import-test

fix: resolve RecursionError in plot_hist_with_contours label formatting
  solarwindpy/plotting/hist2d.py
Due: solarwindpy-physics, import-test

fix: handle single-level contours in plot_contours
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

fix: use modern matplotlib API for axis sharing in build_ax_array_with_common_colorbar
  solarwindpy/plotting/tools.py
  tests/plotting/test_tools.py
Due: solarwindpy-physics, import-test

feat: add plot_contours method, nan_gaussian_filter, and mplstyle
  solarwindpy/plotting/__init__.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/solarwindpy.mplstyle
  solarwindpy/plotting/spiral.py
  solarwindpy/plotting/tools.py
  tests/plotting/test_nan_gaussian_filter.py
  tests/plotting/test_spiral.py
Due: solarwindpy-physics, import-test

docs: refocus TestEngineer on test quality patterns with ast-grep integration
  .claude/agents/agent-test-engineer.md
  .claude/docs/AGENTS.md
  .claude/docs/DEVELOPMENT.md
  .claude/docs/TEST_PATTERNS.md
Due: none

feat(testing): add ast-grep test patterns rules and audit skill
  .claude/commands/swp/test/audit.md
  .claude/docs/TEST_PATTERNS.md
  tools/dev/ast_grep/test-patterns.yml
Due: none

feat: add AbsoluteValue label class and bbox_inches rcParam
  solarwindpy/plotting/labels/special.py
  solarwindpy/plotting/solarwindpy.mplstyle
Due: solarwindpy-physics, import-test

refactor(skills): rename fix-tests and migrate dataframe-audit to MCP
  .claude/commands/swp/dev/dataframe-audit.md
  .claude/commands/swp/dev/diagnose-test-failures.md
Due: none

feat(labels): add optional description parameter to all label classes
  solarwindpy/plotting/labels/base.py
  solarwindpy/plotting/labels/composition.py
  solarwindpy/plotting/labels/datetime.py
  solarwindpy/plotting/labels/elemental_abundance.py
  solarwindpy/plotting/labels/special.py
Due: solarwindpy-physics, import-test

fix(ci): resolve flake8 and doctest failures
  solarwindpy/plotting/__init__.py
  solarwindpy/plotting/tools.py
Due: solarwindpy-physics, import-test

feat: add spiral plot contours, test infrastructure, and labels description (#414)
  .claude/agents/agent-test-engineer.md
  .claude/commands/swp/dev/dataframe-audit.md
  .claude/commands/swp/dev/diagnose-test-failures.md
  .claude/commands/swp/test/audit.md
  .claude/docs/AGENTS.md
  .claude/docs/DEVELOPMENT.md
  .claude/docs/TEST_PATTERNS.md
  pyproject.toml
  solarwindpy/__init__.py
  solarwindpy/plotting/__init__.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/labels/base.py
  solarwindpy/plotting/labels/composition.py
  solarwindpy/plotting/labels/datetime.py
  solarwindpy/plotting/labels/elemental_abundance.py
  solarwindpy/plotting/labels/special.py
  solarwindpy/plotting/solarwindpy.mplstyle
  solarwindpy/plotting/spiral.py
  solarwindpy/plotting/tools.py
  solarwindpy/reproducibility.py
  tests/plotting/test_hist2d_plotting.py
  tests/plotting/test_nan_gaussian_filter.py
  tests/plotting/test_spiral.py
  tests/plotting/test_tools.py
  tools/dev/ast_grep/test-patterns.yml
Due: solarwindpy-physics, import-test

test(labels): add description feature tests and fix anti-patterns
  tests/plotting/labels/test_datetime.py
  tests/plotting/labels/test_elemental_abundance.py
  tests/plotting/labels/test_labels_base.py
  tests/plotting/labels/test_special.py
Due: solarwindpy-physics

test(fitfunctions): fix anti-patterns and add matplotlib cleanup
  .claude/commands/swp/test/audit.md
  tests/fitfunctions/conftest.py
  tests/fitfunctions/test_core.py
  tests/fitfunctions/test_exponentials.py
  tests/fitfunctions/test_lines.py
  tests/fitfunctions/test_metaclass_compatibility.py
  tests/fitfunctions/test_moyal.py
  tests/fitfunctions/test_plots.py
  tests/fitfunctions/test_power_laws.py
  tests/fitfunctions/test_trend_fits_advanced.py
  tools/dev/ast_grep/test-patterns.yml
Due: solarwindpy-physics

refactor(fitfunctions): return DataFrame from combined_popt_psigma
  solarwindpy/fitfunctions/core.py
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics, import-test

test(fitfunctions): improve test quality and refactor combined_popt_psigma (#416)
  .claude/commands/swp/test/audit.md
  solarwindpy/fitfunctions/core.py
  tests/fitfunctions/conftest.py
  tests/fitfunctions/test_core.py
  tests/fitfunctions/test_exponentials.py
  tests/fitfunctions/test_lines.py
  tests/fitfunctions/test_metaclass_compatibility.py
  tests/fitfunctions/test_moyal.py
  tests/fitfunctions/test_plots.py
  tests/fitfunctions/test_power_laws.py
  tests/fitfunctions/test_trend_fits_advanced.py
  tools/dev/ast_grep/test-patterns.yml
Due: solarwindpy-physics, import-test

feat(core): add ReferenceAbundances for Asplund 2009 photospheric data
  pyproject.toml
  solarwindpy/core/__init__.py
  solarwindpy/core/abundances.py
  solarwindpy/core/data/asplund2009.csv
  tests/core/test_abundances.py
Due: solarwindpy-physics, import-test

test(abundances): add match= to pytest.raises and test invalid kind
  setup.cfg
  tests/core/test_abundances.py
Due: solarwindpy-physics

feat(core): add ReferenceAbundances for Asplund 2009 photospheric data (#417)
  pyproject.toml
  setup.cfg
  solarwindpy/core/__init__.py
  solarwindpy/core/abundances.py
  solarwindpy/core/data/asplund2009.csv
  tests/core/test_abundances.py
Due: solarwindpy-physics, import-test

feat(tests): add debug_print fixture for toggleable test output
  tests/conftest.py
Due: solarwindpy-physics

chore: remove unused import pdb statements from 35 files
  solarwindpy/__init__.py
  solarwindpy/fitfunctions/core.py
  solarwindpy/fitfunctions/exponentials.py
  solarwindpy/fitfunctions/gaussians.py
  solarwindpy/fitfunctions/lines.py
  solarwindpy/fitfunctions/moyal.py
  solarwindpy/fitfunctions/plots.py
  solarwindpy/fitfunctions/power_laws.py
  solarwindpy/fitfunctions/tex_info.py
  solarwindpy/fitfunctions/trend_fits.py
  solarwindpy/instabilities/beta_ani.py
  solarwindpy/instabilities/verscharen2016.py
  solarwindpy/plotting/agg_plot.py
  solarwindpy/plotting/base.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/hist2d.py
  solarwindpy/plotting/histograms.py
  solarwindpy/plotting/labels/__init__.py
  solarwindpy/plotting/labels/base.py
  solarwindpy/plotting/labels/composition.py
  solarwindpy/plotting/labels/datetime.py
  solarwindpy/plotting/labels/elemental_abundance.py
  solarwindpy/plotting/labels/special.py
  solarwindpy/plotting/orbits.py
  solarwindpy/plotting/scatter.py
  solarwindpy/plotting/select_data_from_figure.py
  solarwindpy/plotting/spiral.py
  solarwindpy/plotting/tools.py
  solarwindpy/solar_activity/__init__.py
  solarwindpy/solar_activity/base.py
  solarwindpy/solar_activity/lisird/extrema_calculator.py
  solarwindpy/solar_activity/lisird/lisird.py
  solarwindpy/solar_activity/plots.py
  solarwindpy/solar_activity/sunspot_number/sidc.py
  solarwindpy/tools/__init__.py
Due: solarwindpy-physics, import-test

chore(plotting): remove 1,830 lines of dead code from histograms.py
  solarwindpy/plotting/histograms.py
Due: solarwindpy-physics, import-test

Path conditions:
  solarwindpy-physics: any of: \.py$
  import-test: any of: ^solarwindpy/.*\.py$
