Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

solarwindpy-physics:
  name: SolarWindPy Physics Validation
  entry: .claude/hooks/pre-commit-tests.sh
  language: system
  pass_filenames: false

import-test:
  name: Import Testing
  entry: python -c
  args:
  - import solarwindpy; print('‚úì Import successful')
  language: system
  pass_filenames: false

refactor(core): decide time order in one helper for every data object
  solarwindpy/core/base.py
  tests/core/test_base.py
Due: solarwindpy-physics, import-test

test(solar_activity): download the SILSO series offline through SIDC
  tests/solar_activity/sunspot_number/silso_m13.csv
  tests/solar_activity/sunspot_number/silso_m13.csv.spent-when
  tests/solar_activity/sunspot_number/test_sidc.py
Due: solarwindpy-physics

docs(dispatch): every object refuses NaT; plasma children skip the re-check
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

fix(core)!: report each time problem once; every object refuses NaT
  solarwindpy/core/base.py
  solarwindpy/core/ions.py
  solarwindpy/core/plasma.py
  solarwindpy/core/spacecraft.py
  solarwindpy/core/tensor.py
  solarwindpy/core/vector.py
  tests/core/test_base.py
Due: solarwindpy-physics, import-test

fix(core): an index that cannot be ordered warns instead of crashing
  solarwindpy/core/base.py
  tests/core/test_base.py
Due: solarwindpy-physics, import-test

docs(dispatch): record the close-out plan decisions
  docs/dispatches/batch-test-quality-fixes-2026-10-02.md
Due: none

chore(ci): delete the stale WORKFLOWS.md
  .github/WORKFLOWS.md
Due: none

fix(core): guard the time-check skip and refuse non-DataFrame set_data
  solarwindpy/core/base.py
  solarwindpy/core/ions.py
  solarwindpy/core/plasma.py
  solarwindpy/core/spacecraft.py
  solarwindpy/core/tensor.py
  solarwindpy/core/vector.py
  tests/core/test_base.py
  tests/core/test_plasma.py
  tests/core/test_spacecraft.py
Due: solarwindpy-physics, import-test

test(solar_activity): load a SILSO row whose ssn is the -1 marker
  tests/solar_activity/sunspot_number/silso_m13.csv
  tests/solar_activity/sunspot_number/test_sidc.py
Due: solarwindpy-physics

test(core): read /FC back after save; drop unasserted example epochs
  tests/core/test_plasma_io.py
Due: solarwindpy-physics

docs(plotting): explain the empty-intervals test in _edges_from_intervals
  solarwindpy/plotting/agg_plot.py
Due: solarwindpy-physics, import-test

docs(changelog): record PRs #503 to #514
  CHANGELOG.md
Due: none

docs(changelog): split the set_data entry; add a migration note
  CHANGELOG.md
Due: none

docs(changelog): rewrap the set_data entry; migrate the y-range ValueError
  CHANGELOG.md
Due: none

Path conditions:
  solarwindpy-physics: any of: \.py$
  import-test: any of: ^solarwindpy/.*\.py$
