Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-merge-conflict
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-added-large-files
    args: [--maxkb=5000]
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/PyCQA/doc8
  rev: v1.1.1
  hooks:
  - id: doc8
    name: doc8 - Documentation linter
    args: ['--max-line-length=100', '--quiet']
    files: \.(py|rst|md)$
    exclude: |
      (?x)^(
        docs/build/|
        docs/_build/|
        \.claude/templates/
      )$

- repo: local
  hooks:
  - id: check-conventional-commits
    name: Check Conventional Commits
    entry: scripts/check_conventional_commits.sh
    language: system
    stages: [commit-msg]
  - id: solarwindpy-physics
    name: SolarWindPy Physics Validation
    entry: .claude/hooks/pre-commit-tests.sh
    language: system
    files: \.py$
    pass_filenames: false
  - id: import-test
    name: Import Testing
    entry: python -c
    args: ["import solarwindpy; print('‚úì Import successful')"]
    language: system
    files: ^solarwindpy/.*\.py$
    pass_filenames: false
  - id: attribution-reminder
    name: Attribution Guidelines Reminder
    entry: bash -c
    args: ['echo "üìù Remember: External code needs attribution - see .claude/docs/ATTRIBUTION.md"; exit 0']
    language: system
    stages: [commit]
    pass_filenames: false
    always_run: true
    verbose: true

docs: CLAUDE.md lists lint-imports in commands and CI
  CLAUDE.md
Due: none

test(instabilities): caller's log scale survives plotting
  tests/instabilities/test_verscharen2016.py
Due: solarwindpy-physics

docs(tests): state plainly that TEST_PATTERNS.md governs the audit
  .claude/commands/swp/test/audit.md
Due: none

chore(ast-grep): retire test-pattern rules that contradict TEST_PATTERNS
  .claude/commands/swp/test/audit.md
  tools/dev/ast_grep/test-patterns.yml
Due: none

docs(tests): commit with plain git commit in TEST_PATTERNS
  .claude/docs/TEST_PATTERNS.md
Due: none

chore(docs): drop the obsolete api cleanup and end README with a newline
  docs/Makefile
  docs/README.md
  docs/make.bat
Due: none

docs: link pyproject.toml from the README on GitHub
  README.rst
Due: none

docs: CITATION gives the reference and BibTeX
  CITATION.rst
Due: none

chore(ast-grep): retire swp-test-009, which recommends isinstance checks
  .claude/commands/swp/test/audit.md
  tools/dev/ast_grep/test-patterns.yml
Due: none

test(plotting): name the source of the set_log and set_labels defaults
  tests/plotting/test_base.py
Due: solarwindpy-physics

test(plotting): give the norm-label fixture check its own test
  tests/plotting/test_base.py
Due: solarwindpy-physics

test(plotting): pin save paths with hand-derived literals
  tests/plotting/test_base.py
Due: solarwindpy-physics

test(plotting): reach axis formatting and colorbars through public plots
  tests/plotting/test_base.py
Due: solarwindpy-physics

docs(dispatch): append empirical findings to dispatch-pr-review-synthesis-2026-09-30
  docs/dispatches/dispatch-pr-review-synthesis-2026-09-30.md
Due: none

docs(tdd): purge completed dispatch-pr-review-synthesis-2026-09-30 unit (git retains the bytes)
  docs/dispatches/dispatch-pr-review-synthesis-2026-09-30.md
Due: none

chore(deps): drop unused psutil dependency
  pyproject.toml
  solarwindpy.yml
Due: none

fix(instabilities): look up the stability colormap via matplotlib.colormaps
  solarwindpy/instabilities/verscharen2016.py
  tests/instabilities/test_verscharen2016.py
Due: solarwindpy-physics, import-test

feat(fitfunctions)!: remove the Moyal fit function
  docs/source/api_reference.rst
  solarwindpy/fitfunctions/__init__.py
  solarwindpy/fitfunctions/moyal.py
  tests/fitfunctions/test_metaclass_compatibility.py
  tests/fitfunctions/test_moyal.py
Due: solarwindpy-physics, import-test

fix(solar_activity): build the IndicatorPlot x label from labels.datetime
  solarwindpy/solar_activity/plots.py
  tests/solar_activity/test_plots.py
Due: solarwindpy-physics, import-test

fix(plotting): repair Hist2D color-norm limit, edge smoothing, contour ids
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

fix(plotting): handle out-of-mesh samples and integer edges in SpiralPlot2D
  solarwindpy/plotting/spiral.py
  tests/plotting/test_spiral.py
Due: solarwindpy-physics, import-test

fix(plotting): copy cbar_kwargs in Scatter.make_plot
  solarwindpy/plotting/scatter.py
  tests/plotting/test_scatter.py
Due: solarwindpy-physics, import-test

fix(solar_activity): import urllib.request in lisird
  solarwindpy/solar_activity/lisird/lisird.py
  tests/solar_activity/test_init.py
Due: solarwindpy-physics, import-test

fix(solar_activity): store and read DataLoader.age under one name
  solarwindpy/solar_activity/base.py
  tests/solar_activity/sunspot_number/test_sidc_loader.py
  tests/solar_activity/test_base.py
Due: solarwindpy-physics, import-test

fix(tools): keep M/C/S level names and one default handler in swap_protons
  solarwindpy/tools/__init__.py
  tests/plotting/test_tools.py
Due: solarwindpy-physics, import-test
