Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-merge-conflict
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-added-large-files
    args: [--maxkb=5000]
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/PyCQA/doc8
  rev: v1.1.1
  hooks:
  - id: doc8
    name: doc8 - Documentation linter
    args: ['--max-line-length=100', '--quiet']
    files: \.(py|rst|md)$
    exclude: |
      (?x)^(
        docs/build/|
        docs/_build/|
        \.claude/templates/
      )$

- repo: local
  hooks:
  - id: check-conventional-commits
    name: Check Conventional Commits
    entry: scripts/check_conventional_commits.sh
    language: system
    stages: [commit-msg]
  - id: solarwindpy-physics
    name: SolarWindPy Physics Validation
    entry: .claude/hooks/pre-commit-tests.sh
    language: system
    files: \.py$
    pass_filenames: false
  - id: import-test
    name: Import Testing
    entry: python -c
    args: ["import solarwindpy; print('‚úì Import successful')"]
    language: system
    files: ^solarwindpy/.*\.py$
    pass_filenames: false
  - id: attribution-reminder
    name: Attribution Guidelines Reminder
    entry: bash -c
    args: ['echo "üìù Remember: External code needs attribution - see .claude/docs/ATTRIBUTION.md"; exit 0']
    language: system
    stages: [commit]
    pass_filenames: false
    always_run: true
    verbose: true

fix(docs): switch Zenodo badge to shields.io for reliability
  README.rst
Due: none

fix: type in last README change
  README.rst
Due: none

chore: auto-sync lockfiles from pyproject.toml
  docs/requirements.txt
  requirements-dev.lock
  solarwindpy.yml
Due: none

docs(dispatch): pandas3-compat pair 2026-07-23
  docs/dispatches/dispatch-pandas3-compat-2026-07-23.md
  docs/dispatches/launch-pandas3-compat-2026-07-23.md
Due: none

docs(governance): plan for full Spent-When coverage
  CLAUDE.md
  plans/spent-when-adoption.md
Due: none

fix(config): inherit global statusline, drop master-branch rule
  .claude/settings.json
Due: none

chore(agents): retire the five SolarWindPy subagents and their scaffolding
  .claude/agent-routing.json
  .claude/agents.md
  .claude/agents/agent-dataframe-architect.md
  .claude/agents/agent-fit-function-specialist.md
  .claude/agents/agent-plotting-engineer.md
  .claude/agents/agent-test-engineer.md
  .claude/agents/agent-unified-plan-coordinator.md
  .claude/commands/propositions.md
  .claude/commands/swp/test/audit.md
  .claude/docs/AGENTS.md
  .claude/memory/agent-coordination.md
  .claude/scripts/test-agent-execution.sh
  .claude/settings.json
  .claude/workflow-automation.json
Due: none

docs: rewrite CLAUDE.md against current practice (235 -> 90 lines)
  CLAUDE.md
Due: none

chore(hooks): retire validate-session-state.sh
  .claude/hooks/validate-session-state.sh
  .claude/settings.json
Due: none

chore: lower coverage gate to 80%, delete unreachable statusline
  .claude/docs/STATUSLINE.md
  .claude/hooks/pre-commit-tests.sh
  .claude/statusline.py
  .claude/statusline.sh
  CLAUDE.md
  tests/test_hook_integration.py
  tests/test_statusline.py
Due: solarwindpy-physics

fix(solar_activity): repair ICMECAT download errors, caching, and spacecraft names
  solarwindpy/core/abundances.py
  solarwindpy/solar_activity/icme/__init__.py
  solarwindpy/solar_activity/icme/icmecat.py
  tests/solar_activity/icme/test_icmecat_integration.py
  tests/solar_activity/icme/test_icmecat_smoke.py
  tox.ini
Due: solarwindpy-physics, import-test

test(drift): add opt-in drift-detection harness for tests/drift/
  pyproject.toml
  tests/conftest.py
  tests/drift/__init__.py
  tests/drift/_drift.py
  tests/drift/conftest.py
  tests/drift/test_drift_controls.py
  tests/drift/test_drift_icmecat.py
  tests/drift/test_drift_readthedocs.py
Due: solarwindpy-physics

docs(session): record 2026-09-16 closeout (e19b476)
  docs/PROGRESS.md
Due: none

test: add fast-suite consistency checks for Asplund years and SSN header offset
  tests/core/test_abundances.py
  tests/solar_activity/sunspot_number/test_ssn_extrema.py
Due: solarwindpy-physics

ci: add on-demand and scheduled drift-detection job
  .github/workflows/doctest_validation.yml
Due: none

fix(pandas): remove APIs pandas 3 dropped, valid on 2.3.3 and 3.0.5
  solarwindpy/instabilities/verscharen2016.py
  solarwindpy/plotting/agg_plot.py
  tests/core/test_alfvenic_turbulence.py
  tests/plotting/labels/test_datetime.py
Due: solarwindpy-physics, import-test

fix(packaging): delete root __init__.py, unsuppressing 11 import tests
  __init__.py
Due: solarwindpy-physics

docs(session): stub 2026-09-16 entry for an unlogged session
  docs/PROGRESS.md
Due: none

chore(settings): drop dead Write() deny rules, superseded by Edit() rules
  .claude/settings.json
Due: none

docs(tdd): append empirical findings to plan-settings-write-deny-rules-2026-09-17 dispatch
  docs/dispatches/plan-settings-write-deny-rules-2026-09-17.md
Due: none

docs(tdd): purge completed plan-settings-write-deny-rules-2026-09-17 unit (git retains the bytes)
  docs/dispatches/plan-settings-write-deny-rules-2026-09-17.md
Due: none

build(pre-commit): raise black and flake8 to the floors pyproject declares
  .pre-commit-config.yaml
Due: none

docs(session): record 2026-09-17 closeout (383db75)
  docs/PROGRESS.md
Due: none

fix(plotting): pass artist classes to normalize_kwargs, not a private table
  solarwindpy/fitfunctions/plots.py
  solarwindpy/fitfunctions/trend_fits.py
  solarwindpy/instabilities/verscharen2016.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/select_data_from_figure.py
Due: solarwindpy-physics, import-test

fix(tests): replace two APIs pandas 3 and matplotlib 3.11 removed
  tests/plotting/test_integration.py
  tests/plotting/test_visual_validation.py
Due: solarwindpy-physics

style: apply black 25 formatting to files it reformatted
  .claude/hooks/plan-scope-auditor.py
  tests/solar_activity/icme/conftest.py
  tests/test_contracts_dataframe.py
Due: solarwindpy-physics

style: apply black 25 formatting and clear the 11 violations it surfaced
  tests/solar_activity/icme/test_icmecat.py
  tests/test_contracts_class.py
Due: solarwindpy-physics

style(core): strip commented-out code from test_plasma.py
  tests/core/test_plasma.py
Due: solarwindpy-physics

test(core): state the failure response in every test_plasma docstring
  tests/core/test_plasma.py
Due: solarwindpy-physics

test(solar_activity): rebuild sunspot_number tests on the real shipped CSV
  tests/solar_activity/sunspot_number/test_init.py
  tests/solar_activity/sunspot_number/test_sidc.py
  tests/solar_activity/sunspot_number/test_sidc_id.py
  tests/solar_activity/sunspot_number/test_sidc_loader.py
  tests/solar_activity/sunspot_number/test_ssn_extrema.py
Due: solarwindpy-physics

test(plotting): rebuild hist2d tests on derived expectations, 48% -> 94%
  tests/plotting/test_hist2d_pandas_compat.py
  tests/plotting/test_hist2d_plotting.py
  tests/plotting/test_histograms.py
Due: solarwindpy-physics

chore(ci): move all GitHub Actions off the deprecated Node 20 runtime
  .github/workflows/ci-master.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/docs.yml
  .github/workflows/doctest_validation.yml
  .github/workflows/draft-joss-paper.yml
  .github/workflows/publish.yml
  .github/workflows/security.yml
  .github/workflows/sync-requirements.yml
Due: none

docs(session): stub 2026-09-18 entry for an unlogged session
  docs/PROGRESS.md
Due: none

fix(ci): migrate claude-code-action from the frozen @beta tag to @v1
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

docs(paper): auto-generate JOSS PDF preview [skip ci]
  paper/paper.pdf
Due: none

chore: auto-sync lockfiles from pyproject.toml
  docs/requirements.txt
  requirements-dev.lock
  requirements.txt
  solarwindpy.yml
Due: none
