Repository blalterman/SolarWindPy: changes, and which pre-commit hooks are due for each by the changed paths.
All: solarwindpy-physics, import-test

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-merge-conflict
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$
  - id: check-added-large-files
    args: [--maxkb=5000]
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/pycqa/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    files: ^(solarwindpy|tests|\.claude)/.*\.py$
    exclude: \.claude/templates/.*\.py$

- repo: https://github.com/PyCQA/doc8
  rev: v1.1.1
  hooks:
  - id: doc8
    name: doc8 - Documentation linter
    args: ['--max-line-length=100', '--quiet']
    files: \.(py|rst|md)$
    exclude: |
      (?x)^(
        docs/build/|
        docs/_build/|
        \.claude/templates/
      )$

- repo: local
  hooks:
  - id: check-conventional-commits
    name: Check Conventional Commits
    entry: scripts/check_conventional_commits.sh
    language: system
    stages: [commit-msg]
  - id: solarwindpy-physics
    name: SolarWindPy Physics Validation
    entry: .claude/hooks/pre-commit-tests.sh
    language: system
    files: \.py$
    pass_filenames: false
  - id: import-test
    name: Import Testing
    entry: python -c
    args: ["import solarwindpy; print('‚úì Import successful')"]
    language: system
    files: ^solarwindpy/.*\.py$
    pass_filenames: false
  - id: attribution-reminder
    name: Attribution Guidelines Reminder
    entry: bash -c
    args: ['echo "üìù Remember: External code needs attribution - see .claude/docs/ATTRIBUTION.md"; exit 0']
    language: system
    stages: [commit]
    pass_filenames: false
    always_run: true
    verbose: true

test(plotting): check spiral counting and binning through SpiralMesh
  tests/plotting/test_spiral.py
Due: solarwindpy-physics

test(plotting): assert histogram behaviour through Hist1D/Hist2D public API
  tests/plotting/test_hist2d_pandas_compat.py
  tests/plotting/test_hist2d_plotting.py
  tests/plotting/test_histograms.py
Due: solarwindpy-physics

test(solar_activity): ExtremaCalculator tests use set_name and public results
  tests/solar_activity/lisird/test_extrema_calculator.py
Due: solarwindpy-physics

test(solar_activity): check identifier URLs without private URL tables
  tests/solar_activity/lisird/test_lisird_id.py
  tests/solar_activity/sunspot_number/test_sidc.py
  tests/solar_activity/sunspot_number/test_sidc_id.py
Due: solarwindpy-physics

refactor(plotting): remove unused _calculate_nrows_ncols
  CHANGELOG.md
  solarwindpy/plotting/tools.py
Due: solarwindpy-physics, import-test

test(fitfunctions): drop the private _run_least_squares failure test
  tests/fitfunctions/test_core.py
Due: solarwindpy-physics

refactor(plotting): remove unused _DataLimFormatter
  CHANGELOG.md
  solarwindpy/plotting/base.py
Due: solarwindpy-physics, import-test

build: declare Python 3.14 support
  CHANGELOG.md
  pyproject.toml
  tox.ini
Due: none

ci: gate releases on Linux and macOS across Python 3.12-3.14
  .github/workflows/continuous-integration.yml
  .github/workflows/publish.yml
Due: none

refactor(plotting): remove unreachable tuple axnorm branch
  CHANGELOG.md
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_hist2d_plotting.py
Due: solarwindpy-physics, import-test

refactor(solar_activity)!: remove the unused LISIRD subpackage
  CHANGELOG.md
  docs/source/api_reference.rst
  solarwindpy/solar_activity/__init__.py
  solarwindpy/solar_activity/lisird/__init__.py
  solarwindpy/solar_activity/lisird/extrema_calculator.py
  solarwindpy/solar_activity/lisird/lisird.py
  tests/solar_activity/lisird/__init__.py
  tests/solar_activity/lisird/test_extrema_calculator.py
  tests/solar_activity/lisird/test_lisird_id.py
  tests/solar_activity/test_init.py
  tests/test_source_misc_defects.py
Due: solarwindpy-physics, import-test

refactor(plotting): remove labels for the removed LISIRD indices
  CHANGELOG.md
  solarwindpy/plotting/labels/base.py
Due: solarwindpy-physics, import-test

fix(plotting): validate axnorm explicitly in one shared check
  CHANGELOG.md
  solarwindpy/plotting/agg_plot.py
  solarwindpy/plotting/hist1d.py
  solarwindpy/plotting/hist2d.py
  tests/plotting/test_hist1d.py
  tests/plotting/test_hist2d_plotting.py
  tests/plotting/test_histograms.py
Due: solarwindpy-physics, import-test

docs(dispatch): name the phase-4 batch instruction as a dispatch
  docs/dispatches/dispatch-batch-phase4-2026-09-28.md
Due: none

docs(tdd): append empirical findings to dispatch-batch-phase4-2026-09-28 dispatch
  docs/dispatches/dispatch-batch-phase4-2026-09-28.md
Due: none

docs(tdd): purge completed dispatch-batch-phase4-2026-09-28 unit (git retains the bytes)
  docs/dispatches/dispatch-batch-phase4-2026-09-28.md
Due: none

docs: api_reference is a generated index, without section prose
  docs/source/api_reference.rst
  solarwindpy/solar_activity/__init__.py
Due: solarwindpy-physics, import-test

test: every public object is documented on the API reference
  solarwindpy/instabilities/verscharen2016.py
  solarwindpy/plotting/labels/chemistry.py
  solarwindpy/solar_activity/icme/icmecat.py
  tests/test_public_imports.py
Due: solarwindpy-physics, import-test

docs(tdd): append empirical findings to plan-pr-review-synthesis-execution-2026-09-30 dispatch
  docs/dispatches/plan-pr-review-synthesis-execution-2026-09-30.md
Due: none

docs(tdd): purge completed plan-pr-review-synthesis-execution-2026-09-30 unit (git retains the bytes)
  docs/dispatches/plan-pr-review-synthesis-execution-2026-09-30.md
Due: none

test: drop or restate references to deleted test files
  tests/drift/test_drift_controls.py
  tests/fitfunctions/conftest.py
  tests/test_source_fitfunctions_defects.py
Due: solarwindpy-physics

chore: declare Spent-When for tests/tools and CITATION.cff
  CITATION.cff.spent-when
  tests/tools/__init__.py
  tests/tools/test_tools.py
Due: solarwindpy-physics

docs(tdd): append empirical findings to plan-phase4-batch-coordination-2026-09-29 dispatch
  docs/dispatches/plan-phase4-batch-coordination-2026-09-29.md
Due: none

docs(tdd): purge completed plan-phase4-batch-coordination-2026-09-29 unit (git retains the bytes)
  docs/dispatches/plan-phase4-batch-coordination-2026-09-29.md
Due: none

chore(hooks): raise the coverage ratchet to 92%
  .claude/hooks/pre-commit-tests.sh
  CLAUDE.md
Due: none

docs(tdd): append empirical findings to dispatch-pandas3-compat-2026-07-23 dispatch
  docs/dispatches/dispatch-pandas3-compat-2026-07-23.md
  docs/dispatches/launch-pandas3-compat-2026-07-23.md
Due: none

docs(tdd): route the modernization program plan and record its closeout findings
  docs/dispatches/plan-solarwindpy-modernization-2026-10-01.md
Due: none

docs(tdd): purge completed dispatch-pandas3-compat-2026-07-23 unit (git retains the bytes)
  docs/dispatches/dispatch-pandas3-compat-2026-07-23.md
Due: none

docs(tdd): purge completed launch-pandas3-compat-2026-07-23 unit (git retains the bytes)
  docs/dispatches/launch-pandas3-compat-2026-07-23.md
Due: none

test(hooks): check the coverage threshold against CLAUDE.md, not a literal 95
  tests/test_hook_integration.py
Due: solarwindpy-physics

docs(dispatch): test-quality-review 2026-10-02
  docs/dispatches/dispatch-test-quality-review-2026-10-02.md
Due: none

test: refuse unregistered pytest markers
  pyproject.toml
Due: none

docs(tdd): record the coverage and marker gate demonstrations; mark the modernization plan served
  docs/dispatches/plan-solarwindpy-modernization-2026-10-01.md
Due: none

docs(tdd): purge completed plan-solarwindpy-modernization-2026-10-01 unit (git retains the bytes)
  docs/dispatches/plan-solarwindpy-modernization-2026-10-01.md
Due: none
